[2017-09-06 08:41] oliverw opened #1 "Continous Integration"

[2017-09-10 23:26] calvintam236 opened #2 "config.json possible values for some params"
I tried to edit `config.json` params, and I don't know the possible values for some of the params. For example, what are the possible types [here](https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/config.json#L65), and [here](https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/config.json#L55).

[2017-09-10 23:43] calvintam236 opened #3 "Web front-end progress/ code"
I saw your comment on reddit saying that the web front-end is in the works. Can you tell us how's the progress? If there are some codes, can you push the incomplete code to GitHub in a different branch (so anyone can help)? If not, I can try to port other UI e.g. `poolui`?

[2017-09-11 05:24] oliverw commented on #3
The web-frontend is not yet ready to be checked in for public consumption. Giving porting poolui a shot would be actually great idea since it's quite popular and would ease the transition for operators who have already experience with that frontend.

[2017-09-11 05:26] oliverw commented on #2
1. https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/Configuration/ClusterConfig.cs#L56
2. https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/Configuration/ClusterConfig.cs#L27

I agree those fields should be documented.

[2017-09-13 19:31] oliverw commented on #1
Fixed by 9ecc57cefbcaf14052c11d62b6f844e2ba4594d9

[2017-09-13 19:31] #1 closed

[2017-09-16 19:42] calvintam236 opened #4 "Coin support request: Siacoin (SC)"
As there isn't many Siacoin pool out there, and no other pool softs support this coin, I would like to request support for Siacoin (so I can build one).

[2017-09-17 05:45] oliverw commented on #4
Implementing Siacoin will certainly become an option once Ethereum support has been implemented. Work on ETH will begin soon.

[2017-09-17 05:54] calvintam236 commented on #2
How about [here](https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/config.json#L134)? Is PPLNS is the only payoutScheme?

[2017-09-17 08:54] oliverw commented on #2
PPLNS is currently the only implemented payout scheme because it's simply the most widely used one. Implementing other payout schemes should be straight forward.

[2017-09-19 09:44] oliverw opened #5 "ZCash support"
The foundations for supporting ZCash are already implemented

- [Equihash](https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/Crypto/Hashing/Equihash/EquihashVerifier.cs#L28) native Interop is fully functional and tested
- [ZCashPool](https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/Blockchain/ZCash/ZCashPool.cs) can most likely remain unchanged
- [ZCashJob](h

[2017-09-19 10:18] oliverw opened #6 "TLS/SSL Support"
Stratum over TLS eliminates possibility of man-in-the-middle attacks, as the communication between miner and pool is strongly encrypted and the server's identity is digitally signed by a certificate authority. Implementing this feature has top priority.

[2017-09-19 10:47] oliverw commented on #2
Relevant information have been added to README.md

[2017-09-19 10:47] #2 closed

[2017-09-19 16:42] calvintam236 commented on #5
Is the ZCash support works with its hard fork, e.g. ZEN, ZCL, HUSH?

[2017-09-19 18:50] oliverw commented on #5
ZCash is not completely implemented yet. Hence this ticket.

[2017-09-19 19:31] calvintam236 commented on #5
Hi Oliver,

sorry for not saying clearly. I would like to know is those hard fork coins will be supported on the ZCash implementation, or they needed separate coin implementations?

[2017-09-19 20:21] oliverw commented on #5
I'm not deep enough into the implementation to answer that.

[2017-09-23 03:35] bapparabi opened #7 "mine to exchnage support in monero"
do this allowed option to mine directly to exchange ? do it has the option to add rig name and worker name in miner so separately see the stat for all the rig they have ??

[2017-09-23 06:23] oliverw commented on #7
Yes to both of your questions. Documentation can be found [here](https://poolmining.org/pool/xmr#nvidia-mining-windows).

[2017-09-23 06:23] #7 closed

[2017-09-23 18:50] shtse8 opened #8 "Support for Multi-Algos of DGB"
At the moment, miningcore only support Scrypt for DGB. It would be better if mining core can support multi-algos coins like DGB.

[2017-09-23 19:00] oliverw commented on #8
That's actually a good idea.

[2017-09-24 00:08] shtse8 opened #9 "Aborted (core dumped) when banning"
[code]

[2017-09-24 05:14] oliverw commented on #9
Could you post the full exception information from the log if possible? I need the callstack. Thanks!

[2017-09-24 06:55] shtse8 commented on #9
I am using Ubuntu 16.04
I can't find the callstack even I enabled the logging to debug and the log file per pool.
This is the last message I have seen before the crash.
[code]

[2017-09-24 07:11] oliverw commented on #9
Anything in <code>core.log</code>?

[2017-09-24 07:23] shtse8 commented on #9
nothing special.
[code]

For my best guess, it should be crashed when miningcore ban any client. and the banning mechinisam is not good for pool farm like nicehash as it is now checking the last 51 shares. as nicehash got lots of hashpower and it sometimes submitting shares too quick no matter vardiff or staticdiff. so it will always want to ban nicehash. we can't buy stable hashpower from nicehas

[2017-09-24 07:23] shtse8 commented on #9
I disbled the banning and no crashs now.

[2017-09-24 07:27] oliverw commented on #9
Interesting observations. I will investigate further. Thanks a lot for the feedback.

[2017-09-24 07:32] shtse8 commented on #9
thanks.
it now have two problems.
1. the banning mechinisam for pool farm and unstble hashrate
2. crash when banning client in Ubuntu 16.04

[2017-09-24 07:42] oliverw commented on #9
I've just checked in a potential fix. Could you verify the problem persists using this change?

[2017-09-24 07:48] shtse8 opened #10 "Banning mechisiam for unstable hashrate."
When using pool farm like nicehash, the hashrate is very unstable during bidding.
the current mechisiam is checking the last 51 shares validition ratio. if it over 51%, the miningcore will ban the client. when low diff, and fast start from nicehash, shares submitted is too quick. once rejects occurs, it mush be banned as it can submit 51 invalid shares in one second.
so i would suggest to change t

[2017-09-24 07:50] shtse8 commented on #9
Great. Let me check but give me some time.
because i need to create an order and wait for low price in Nicehash.
I will reply later.

[2017-09-24 08:29] shtse8 opened #11 "Segmentation fault (core dumped)"
I saw another crash so I report here first. But I am still using yesterday version. I will try the latest fix today later.

[code]

[2017-09-24 13:08] shtse8 commented on #11
[code]

[2017-09-24 13:17] shtse8 commented on #9
I have tested with the latest commit. Crash with `Aborted (core dumped)` once, then I want to turn on the logging. Until now, nothing happen. But it seems there is a serious problem when a client submitting shares too fast. Please check https://github.com/coinfoundry/miningcore/issues/11 . I know turning diff can avoid the problem. But for pool farm with the cheapest orders. sometimes we only get

[2017-09-24 13:48] shtse8 opened #12 "VarDiff with low retargetTime throw System.NullReferenceException"
Updating VarDiff if there is no shares submitted will throw Exception. I suggest we should consider updating diff at least one share even with low retargetTime and high start Diff.

[code]

[2017-09-24 14:45] shtse8 opened #14 "Wired VarDiff, only increase but don't decrease"
Currently, I have this setting.
[code]
But resulting in:
[code]

As you can see, the difficulty is increasing even the shares submitted time longer than my expect.

[2017-09-24 15:53] shtse8 commented on #14
Fixed.
https://github.com/coinfoundry/miningcore/pull/15

[2017-09-24 17:28] shtse8 commented on #14
This periodic update will affect the VarDiffManager.
https://github.com/coinfoundry/miningcore/blob/4390fe6cadf5cb06948279b6d6b7468819f387f4/src/MiningCore/Mining/PoolBase.cs#L202

As the mechanism of VarDiffManager is designed by calling `Update()` when there is a new submit. `sinceLast` will be put into the buffer for recording the every submits time used. If periodic exists, VarDiffManager will

[2017-09-24 17:34] shtse8 commented on #14
Please assign this bug fix to me. I want to give it a help.

[2017-09-24 17:48] oliverw commented on #14
You help is greatly appreciated!

[2017-09-24 17:49] oliverw commented on #12
If you want to fix that one along with the other vardiff related bug I can assign it to you.

[2017-09-24 17:51] oliverw commented on #10
Yes I agree. That would be a reasonable improvement.

[2017-09-24 18:01] oliverw commented on #11
Did the log above result in a crash? It appears to be just diagnostic log spam.

[2017-09-24 18:25] shtse8 commented on #12
Yes, please assign it to me. Thanks.
I think the out-of-band vardiff updates is a good decision. But I would prefer to do it when idle checking.
somethings like: 60s(retargetTime) no shares submitted. Update VarDiff. add this 60s to the calculation for average Adjust the diff. wait for new share.

But I would suggest short `retargetTime` like 5s for pool farm.

[2017-09-24 18:44] shtse8 commented on #14
I noticed that time will be always `long`.
https://github.com/coinfoundry/miningcore/blob/4390fe6cadf5cb06948279b6d6b7468819f387f4/src/MiningCore/VarDiff/VarDiffManager.cs#L55

I would prefer to use `double` because we are calculating in seconds. floating numbers are very important.

[2017-09-24 18:46] shtse8 commented on #11
Should be two cases. Segmentation fault is another problem result in a crash. I just checked the log and discovered that exception.

[2017-09-25 07:20] shtse8 opened #17 "how is the PPLNS?"
Today morning, I successfully mined my first block.

Here is the block detail:
[code]

Here is the log for paying process.
[code]
`XrQsEqFfabd5mGy7W9vjBnvk6K19oc97gB` is me.
`Xe2Hbpb2ZJgc9WAuZJfUyN4QwDRhn7pzL6` is my friend.
I finally got 0.44637, and my friend got 0.00001. So where is others as the block reward is 1.79557754

[2017-09-25 07:32] oliverw commented on #17
The pool kept the rest for the next payout round because there were most likely not enough shares to hit the X spot during calculation. Please read [this article by the inventor of PPLNS](https://bitcointalk.org/index.php?topic=39832) for further information.

Could you check the pool's wallet and confirm that it holds the left-over funds?

[2017-09-25 07:43] oliverw commented on #17
By the way I've just [fixed](https://github.com/coinfoundry/miningcore/commit/9e464d6aabd1d72eb6ee0b09ad61657f6da0103e) the wrong info link for your block.

[2017-09-25 07:50] shtse8 commented on #17
Yes, I have checked. the whole balance is still in my wallet.

[2017-09-25 07:51] oliverw commented on #17
I believe there haven't been any transfers yet because from the logs it looks like the minimum payouts for the pool haven't been hit yet.

[2017-09-25 07:57] shtse8 commented on #17
Yes. Thanks for your information. I have read that article. I thought PPLNS is round-based. I don't know it is not about round. and the shares before X will not be paid. 😮

[2017-09-25 07:57] #17 closed

[2017-09-25 08:05] oliverw commented on #17
You got that wrong. With PPLNS shares are eligible for multiple payouts. They will be paid, when the next block is found.

[2017-09-25 09:15] oliverw commented on #17
And by the way since I assume what you are doing here is solo mining using Nicehash, I proportional ([PROP](https://en.bitcoin.it/wiki/Comparison_of_mining_pools)) payout-scheme would be a better fit. I had this on my list anyway.

[2017-09-25 11:54] shtse8 commented on #17
Yes, that would be better if it is available.
At the moment, I would be solo mining using Nicehash. After everything is tested and the website is ready, I make my pool public. This is my first time to be a pool operator, just for fun. 👍

[2017-09-25 14:27] shtse8 opened #18 "Wrong Auth Info for daemon throws System.NullReferenceException"
An exception thrown when using wrong auth info.
[code]

Here is the full log:
[code]

[2017-09-25 14:46] oliverw opened #19 "PROP Payout scheme"
Implement PROP Payout scheme

[2017-09-25 15:14] shtse8 opened #20 "Cannot send out Dash to Dash Address"
I am trying to send out the Dash to my private wallet.
An error occur:
[code]

But My valid address should be:
[code]
the first X is a capital letter.

I have checked my miner config and the miningcore miner stats. Both are correct.

[2017-09-25 15:34] shtse8 commented on #20
https://github.com/coinfoundry/miningcore/blob/09de2becf9f23d7736e9ce5d3e261b1b0435760c/src/MiningCore/DaemonInterface/DaemonClient.cs#L184

This line of code lower the case of the first letter as a json key.

[2017-09-25 16:25] shtse8 commented on #20
`CamelCasePropertyNamesContractResolver()` lower case the address. I don't know how to fix it.

[2017-09-25 16:40] shtse8 commented on #20
Even I remove the Resolver.
The RPC Json becomes:
[code]

Another error occur:
[code]

[2017-09-25 18:39] #18 closed

[2017-09-25 21:13] #20 closed

[2017-09-25 22:02] shtse8 opened #21 "Blocks API Endpoint should show all blocks found"
I suggest blocks endpoint should show all blocks found including pending blocks with the confirmation count. I just mined two blocks half hour ago. the endpoint still show no blocks. But when I use the DashCore Windows Wallet. It can show two pending transactions are coming. Dash Explorer also can show the blocks.

[2017-09-26 05:22] shtse8 commented on #11
Suddenly segmentation fault (core dumped) again, but no detailed logs before segmentation fault.

[2017-09-26 10:22] #12 closed

[2017-09-26 10:23] #14 closed

[2017-09-26 10:42] oliverw commented on #21
Confirmation count is currently not stored in the database and can thus not be returned - for now.

[2017-09-26 10:43] #21 closed

[2017-09-26 10:46] oliverw commented on #9
Could this have been resolved by the VarDiff changes?

[2017-09-26 13:12] shtse8 commented on #9
No `Aborted` occur now, but `Segmentation Fault` when running for several hours.

[2017-09-26 15:43] shtse8 opened #22 "Warning Message when compiling MininerCore"
[code]

[2017-09-26 15:52] shtse8 opened #23 "Wrong transaction url for dash"
https://github.com/coinfoundry/miningcore/blob/80f6ebe7590a7137a33f3ea04bf6e6f89e6ff500/src/MiningCore/Api/ApiServer.cs#L105
DASH is not the same as DSH.
DASH is Dash
DSH is Dashcoin

The current url is https://chainradar.com/dsh/transaction/[txnid]

The correct url should be
https://chainz.cryptoid.info/dash/tx.dws?[txnid].htm

[2017-09-26 16:13] oliverw commented on #22
Ethereum is work in progress. Please ignore this for now.

[2017-09-26 16:13] #22 closed

[2017-09-26 16:35] oliverw commented on #23
Already fixed by #b922261aeda922e47ddb221aa85c702ae8d3390a

[2017-09-26 16:52] shtse8 commented on #23
The blocks endpoint infoLink is still wrong.
the url should be placed with block height instead of tnx hash.

[2017-09-26 17:24] oliverw commented on #23
Urls using the hash seem to work fine: https://chainz.cryptoid.info/dash/block.dws?00000000000001bd7c1aabaacd7a176b3f347723ce449110c6912da6962fdfeb.htm

[2017-09-26 18:02] shtse8 commented on #23
[code]

But All my links are broken.

[2017-09-26 18:07] oliverw commented on #23
I stand corrected. Working on it.

[2017-09-26 18:27] oliverw commented on #23
Please verify and close if fixed by 986ef87082ed4d34100be10ba6de161176f5568e

[2017-09-26 21:06] shtse8 opened #26 "Cannot Connect to Remote XMR Daemon"
[code]

I have tried curl, it works:
[code]

I guess it should be the authentication problem.

[2017-09-26 21:07] shtse8 commented on #23
It works now. Thanks.

[2017-09-26 21:07] #23 closed

[2017-09-27 06:21] calvintam236 opened #27 "Improving API responses"
As I am working on the client-side UI, I think there are few improvements can be done on API for developer use.
##
[/api/pools](https://github.com/coinfoundry/miningcore/blob/master/README.md#apipools)

1. Instead of providing `"coin": { "type": 5 },`, give the coin symbol instead. In this case, it is `XMR`. It is not friendly for integrations.
2. `"payoutScheme": 1,`, which is better to give `PPL

[2017-09-27 07:19] shtse8 commented on #9
Aborted Again
[code]

[2017-09-27 07:24] shtse8 commented on #27
I believe the following stats is very useful for making UI.
1. the estimated shares of each round.
2. the progress of each round
3. the confirmations of each block.
4. the 1H,24H,7D,all time progress/luck

[2017-09-27 08:48] shtse8 commented on #11
[code]

[2017-09-27 08:58] oliverw commented on #11
Yeah. It's now crystal clear that it always happens when the pool forcefully disconnectes a worker. Either through the banning system or because the client is considered dead. Working on it.

[2017-09-27 15:57] calvintam236 commented on #27
This is [draft code](https://github.com/calvintam236/miningcore-ui) on my github.

@shtse8 1,2,3,4 requires the API changes for providing such info.

[2017-09-27 17:46] oliverw commented on #27
Good Job! Changes are coming tommorow.

[2017-09-27 18:17] oliverw commented on #26
Hmm, looks like a configuration problem to me. Did you check your config? Did you compare to the
[example](https://github.com/coinfoundry/miningcore/blob/master/examples/monero_pool.json)?

[2017-09-27 19:05] shtse8 opened #28 "MPOS compatibility mode support"
It's better to support MPOS compatibility mode so that it can function as a drop-in-replacement for python-stratum-mining. And we can have a good front end for usage while this project have no website provided at this moment.

[2017-09-27 19:14] shtse8 commented on #26
Yes, I believe the config shouldn't have any problem. Just daemon host, port, username, password, very simple configs. I have set dash, dgb, both works fine.
I have also tested with json-rpc. the proxy can also response properly.

[2017-09-28 03:17] bapparabi opened #29 "this will work in same sever"
hi
i need to ask do this pool software is multipool software .. i mean if i add all coin is same server and will it work or not ..

for every coin i nee to use differ server or in same server i can install all and run it ??

also when gonna user ui will come

[2017-09-28 05:34] calvintam236 commented on #29
I believe you can add all coins in the same server since the config settings in the `config.json`.

[2017-09-28 05:43] calvintam236 opened #30 "vardiff difficulty too low"
I am using CPUs to mine XMR on `poolmining.org`, and the difficulty seems to be too low for my setup after vardiff kicks in.

This is one AMD Ryzen 1700. Diff dropped to 10000 from 30000 (default), so 1 share every ~10s..
[code]

[2017-09-28 06:31] oliverw commented on #26
@shtse8 I'd like to invite you to a slack channel for discussing topics a bit quicker than solely relying on the github ticket system. Please email me at info@coinfoundry.org.

[2017-09-28 06:39] oliverw commented on #29
@bapparabi You've asked me the same thing over at BCT a while ago where I've answered this already. :) Yes the engine supports multiple coins per pool just fine. As for the Web-Frontend, @calvintam236 is working on it.

[2017-09-28 06:41] oliverw commented on #30
@shtse8 Could you have a look at this since you basically rewrote the vardiff stuff. 😃

[2017-09-28 06:51] oliverw commented on #26
@shtse8 You realize that Monero needs two discrete daemons? One is the <code>monerod</code> and the other is <code>monero-wallet-rpc</code> which needs to be configured to connect to the former.

[2017-09-28 07:33] shtse8 commented on #30
@oliverw sure.

@calvintam236
could you paste your vardiff config here?

[2017-09-28 07:42] calvintam236 commented on #30
@shtse8 I am not running a pool. I am just a miner in a pool. Command I ran: `xmrig -a cryptonight -o xmr.poolmining.org:3032 -u {wallet_address}.{worker_name} --donate-level=1 --max-cpu-usage=100 --cpu-affinity=0xAAAA`.

[2017-09-28 07:50] oliverw commented on #30
@shtse8 He's mining on my pool. I've just adjusted the vardiff config for monero so the issue should be solved since the default was simply too steep.

[2017-09-28 07:51] oliverw commented on #30
@calvintam236 I've just checked with a competing pool and I think poolmining.org's default diff on the CPU mining port  is simply set too high for CPU

[2017-09-28 08:01] calvintam236 commented on #30
@oliverw It seems it is even lower now - difficulty is now 1000, and 1 share every ~1 second. Maybe your maximum VarDiff should be higher for CPU?

[2017-09-28 08:04] oliverw commented on #30
Yeah that's strange. I see it in the logs right now. No idea why everyone is dropping to minDiff.

Config right now is:

[code]

[2017-09-28 08:05] calvintam236 commented on #30
Maybe `null` for `maxDiff` is not working? Can you try a fixed value?

[2017-09-28 08:07] oliverw commented on #30
I've reverted the config to previous version. Your diff should return to at least 10k now.

[2017-09-28 08:08] oliverw commented on #30
Current config

[code]

[2017-09-28 08:32] shtse8 commented on #30
It's wired. the diff should increase if the average share submitted time is lower than the target time. and also will adjust the diff if lone time no share is submitted. So if the diff is too high, and no share can be submitted. the diff will be automatic lower. I have no ideas on this issue.

[2017-09-28 11:56] shtse8 commented on #26
Let me check. I just started the monerod daemon and tried with curl json-rpc, which works fine.

[2017-09-28 11:58] oliverw commented on #26
Like I said, you need a wallet-daemon too.

[2017-09-29 12:16] oliverw commented on #30
Should fixed by 10b910f4f81ead34995bb42cce24fe0893550715. Re-open otherwise.

[2017-09-29 12:16] #30 closed

[2017-09-29 12:17] oliverw commented on #29
Closing this due to no activity.

[2017-09-29 12:17] #29 closed

[2017-09-29 12:18] #26 closed

[2017-09-30 16:46] oliverw commented on #27
@calvintam236

Most of the requested changes have been implemented by a3a71c09f9d2406a3b9f1e7fa50835cc524bdc7c

**/api/pools remarks:**

3) <code>networkHashRate, poolHashRate</code>: is always the raw hashrate value in H/s. It's up to the front-end to transform this into something better suited for human consumption.
4) <code>poolFeePercent, donationsPercent</code>: have been moved up one level

[2017-09-30 17:22] calvintam236 commented on #27
Thank you, @oliverw, for the API changes.

Just a summary of requests that are not yet implemented.

By Me:

6. `networkHashRate`

user would want to see a chart of previous hashrate of your miners and the network, right?

By @shtse8

##

list of all miners. something like [here](https://etcmine.pro/#/miners)

[2017-09-30 18:29] #8 closed

[2017-09-30 18:30] oliverw commented on #8
See also: https://github.com/coinfoundry/miningcore/blob/master/examples/digibyte_sha256_pool.json#L47

[2017-09-30 19:04] oliverw commented on #27
Note to self: List of miners including share counts will require a [materialized view](https://www.postgresql.org/docs/9.6/static/sql-creatematerializedview.html)

`SELECT MINER, COUNT(miner) AS count FROM shares WHERE poolid = 'xmr1' GROUP BY poolid, miner ORDER BY count DESC;`

[2017-09-30 21:26] calvintam236 commented on #27
@oliverw I made some changes on the UI. Welcome to check it out.

Just a few notes.

12. I think it should be `blockHeight`, not `blockheight`. I notice you use both notations in the coding.
13. Be consistent to use either object or array in JSON. In `stats` and `miner`, it is an object. In `payments` and `blocks`, it is an array. Personally, I prefer to have a named object - less complicated for

[2017-10-01 00:49] bochom commented on #11
segmentation fault just after block found

[2017-10-01 06:02] oliverw commented on #27
@calvintam236

12. Fixed

[2017-10-02 04:34] calvintam236 opened #31 "Build error"
I tried to build the source code, and results in fatal error.

https://hub.docker.com/r/calvintam236/miningcore/builds/bd5lkzkdnmgmrbbtm8uzgsa/
[code]

[2017-10-02 05:56] oliverw commented on #31
Looks like you didn't install libsodium-dev.

[2017-10-02 06:42] calvintam236 commented on #31
Thank you.. Missed it somehow as it was successfully build without it two weeks ago.

[2017-10-02 06:42] #31 closed

[2017-10-02 06:55] oliverw commented on #27
Just let me know when you feel the front-end is approaching readiness for public consumption. If you wish we could add it as a new repo "miningcore-portal" or "miningcore-web".

[2017-10-02 07:17] calvintam236 commented on #27
@oliverw I think it is not ready yet.

- the hourly `networkHashRate` is not available yet from the API (for the chart)
- no luck, share progress data (maybe [here](https://bitcointalk.org/index.php?topic=1754314.0) can help how they are calculated and implement into `MiningCore`)
- no miner list in API
- total and per worker stats per minute (for chart) is necessary to have - API cannot provide a

[2017-10-02 07:18] oliverw commented on #27
Understood, I will turn my full focus on the API once I'm done with the Ethereum work which shouldn't take long anymore.

[2017-10-04 15:29] oliverw commented on #11
@shtse8 @bochom
Observing similar crashes in production as well and got hold of enough crash dumps to work on the issue.

[2017-10-04 16:36] oliverw commented on #11
Upstream issue is being [tracked here](https://github.com/StormHub/NetUV/issues/60).

[2017-10-06 10:47] oliverw commented on #11
Fixed by d237e62a0e3ec6aaf9390db900477bec8e5bbb90

[2017-10-06 19:46] shtse8 commented on #28
https://github.com/zone117x/node-open-mining-portal/blob/master/libs/mposCompatibility.js

[2017-10-08 05:47] oliverw commented on #11
Finally fixed by 6e35a735f611043ae8862bfbeff566e75753a33c

[2017-10-08 05:48] #9 closed

[2017-10-08 05:48] oliverw commented on #9
Fixed by 6e35a735f611043ae8862bfbeff566e75753a33c

[2017-10-08 05:48] #11 closed

[2017-10-09 10:33] oliverw commented on #28
Going to work on this soon unless somebody else wants to do it.

[2017-10-16 09:24] sfoxdev opened #33 "Configuration file for two-three coins"
Is there any example file of how to configure Miningcore for run several coins at one pool?
Also interested is there any posibility to connect Miningcore with MPOS or any other webui?

[2017-10-16 10:53] oliverw commented on #33
https://github.com/coinfoundry/miningcore/blob/master/examples/litecoin_dash_pool.json

Coming up with a reasonable webfront solution is one of the main tasks left to do. I originally wanted to support MPOS but the idea of pumping data in one database only to take it out and shovel it into another (MPOS-MySql) somehow feels weird.

[2017-10-16 17:56] sfoxdev commented on #33
Great, thank you very much for multi-pool example.

I know that MPOS is not a great webui for pool at nowtime, but it's still most popular. Do you plan to develop front-end for Miningcore?

[2017-10-16 18:44] oliverw commented on #33
It depends. If the community does contribute one, I'll probably do it myself. It's a matter of available time.

[2017-10-16 18:47] sfoxdev commented on #33
I see. Thank you for great tool (pool).

[2017-10-17 01:59] calvintam236 commented on #27
@oliverw Any updates?

[2017-10-17 05:20] calvintam236 opened #34 "sgminer couldn't connect"
I tried to use `sgminer-gm` on `poolmining.org` (which runs MiningCore), and it couldn't find an active pool. Tried pool address without `stratum+tcp://`, same result.

[code]

[2017-10-17 05:52] oliverw commented on #34
Which variant of sgminer is that? Where did you get it from?

[2017-10-17 05:57] calvintam236 commented on #34
This one: [https://github.com/genesismining/sgminer-gm](https://github.com/genesismining/sgminer-gm)

[2017-10-17 06:12] oliverw commented on #34
I cannot even get this version to run without crashing on my system. Could you try again connecting to the pool but with <code>-v</code> added to the command line options and post the output here?

[2017-10-17 22:49] #34 closed

[2017-10-18 06:51] oliverw commented on #34
Why did this get closed?

[2017-10-18 16:29] calvintam236 commented on #34
Somehow I couldn't reproduce the same problem with the docker image I made.. (It is stuck at compiling cryptonight.cl now. Weird)

[2017-10-19 18:46] oliverw commented on #27
@calvintam236 Now that work on the blockchains is feature complete (ZCash postponed), focus will be on the API.

[2017-10-19 19:07] calvintam236 commented on #27
@oliverw great to hear that.

let me add one more request on API while I was working on the UI.

- per account payment history
- webhooks for notification
- is miningcore stored price of the coin while running? if so, providing it helps to make a profitability calculator

[2017-10-19 19:53] oliverw commented on #27
@calvintam236 Its not yet fetching coin scores but I was planning to do that anyway.

[2017-10-20 01:13] calvintam236 commented on #27
@oliverw is the `donationsPercent` same as `devDonation`? Maybe it is better to use the same config name in the `config.json` and API.

[2017-10-26 07:03] calvintam236 opened #35 "RBPPS payout scheme"
This scheme is getting popular, and it sounds better than PPLNS.

[2017-10-26 13:48] SolarPool opened #36 "[Ethereum Job Manager] Error(s) refreshing blocktemplate: getWork result not related to pending block"
Tell me what the problem gives this message
`[2017-10-26 16:34:56.0879] [W] [exp1] [Ethereum Job Manager] Error(s) refreshing blocktemplate: getWork result not related to pending block`

[2017-10-27 08:58] #36 closed

[2017-10-28 09:36] SolarPool opened #37 "[Ethereum Payout Handler] Object reference not set to an instance of an object."
Hello, I added to his pool coin `ELLE` has made changes like `EXP` has launched the claymore miner so `WALLET.RIG` but do not go payments displays this error:
`[2017-10-28 12:27:15.3457] [E] [ella1] [Ethereum Payout Handler] Object reference not set to an instance of an object.`
What could be the problem?

[code]

[2017-10-28 09:57] oliverw commented on #37
Could you post the full stacktrace?

[2017-10-28 10:10] SolarPool commented on #37
Здесь все изменения что я делал
https://github.com/SolarPool/miningcore_ella

[2017-10-28 16:33] 2zo commented on #37
The issue is relevant.
Could this be associated with the database,
`[2017-10-28 19:30:17.0945] [E] [EXP1] [Ethereum Payout Handler] Object reference not set to an instance of an object.`

[2017-10-28 17:08] 2zo opened #38 "Object reference not set to an instance of an object."
The question is relevant
I do not what did not change but displays this error
`[2017-10-28 19:30:17.0945] [E] [EXP1] [Ethereum Payout Handler] Object reference not set to an instance of an object.`

[2017-10-28 18:10] #38 closed

[2017-10-28 23:32] 2zo opened #39 "No Miner Statistics"
For 3 hours, the statistics miner does not work
[code]

[2017-10-29 01:00] #39 closed

[2017-10-29 21:03] 2zo opened #40 "The time format in the statistics"
What time zone works pool time statistics does not match with my real time is there any way to change.
my time is `00:00:00` in statistics `21:00:00`

[2017-10-29 21:03] oliverw commented on #40
UTC for everything.

[2017-10-29 21:05] 2zo commented on #40
Thank you

[2017-10-29 21:06] oliverw commented on #40
You're welcome!

[2017-10-29 21:09] #40 closed

[2017-10-30 18:28] Serpent6877 opened #41 "API issue."
Currently setup for ETC. On the hourly stats the poolHashRate seems to be incorrect when it hits 300 million.

[code]

It does show correct in the pools output:

[code]
Also why are the miner specific stats ascending and the all the other output is descending times?

Miner stats:
[code]
Hourly stats:
[code]

[2017-10-31 10:12] chestnyh opened #42 "[I] [btc1] [Bitcoin Job Manager] Waiting for daemons to come online ..."
When I start dotnet "dotnet MiningCore.dll -c config.json", I get massage "[I] [btc1] [Bitcoin Job Manager] Waiting for daemons to come online ...".

But daemon is working. http://joxi.ru/GrqGg7ztNOYBk2.

build/config.json has RPC password.
And I have access by curl to RPC.

How can I solve this problem?

Thanks!!!

[2017-10-31 11:54] Konstantin35 opened #43 "In statistics manner of duplicated keys"
I noticed that the first update statistics manner of duplicated keys `0` and `1` they contain identical data, should it?
[code]
Then there is all normally
[code]

[2017-10-31 13:44] chestnyh commented on #42
I found where trouble is... Blockchain wallet dont have "./bitcoin-cli getinfo"  command. And it will be removed from litecoin wallet(in 0.16 version).

I got message "deprecation-warning": "WARNING: getinfo is deprecated and will be fully removed in 0.16. Projects should transition to using getblockchaininfo, getnetworkinfo, and getwalletinfo before upgrading to 0.16" in console.

[2017-10-31 15:59] 2zo opened #44 "BlockShareDiff"
Tell me in the array block there is a key `networkDifficulty` is the complexity of the network or block?

[2017-10-31 16:07] 2zo commented on #42
Hi I think you can understand yourself what you are looking for here
https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/Blockchain/Bitcoin/BitcoinConstants.cs#L97

[2017-10-31 16:08] oliverw commented on #44
Depends  on the blockchain. Normally it is the block difficulty. If blocks do not have individual difficulty, it is the network difficulty at the Time the block was found.

[2017-10-31 17:34] #44 closed

[2017-10-31 19:57] Konstantin35 opened #45 "Lyra2REv2 sgminer doesn't work"
`Lyra2REv2` sgminer doesn't work on the pool nor on my not on your checked on suprnova everything works

[2017-10-31 21:16] chestnyh commented on #42
Yes. Constant is here. But bitcoin wallet don't have such command. As a result we have warning. And I don't know how to fix mining core correctly, because I am not C# developer.
Maybe can someone help?

[2017-11-01 09:31] oliverw commented on #42
I'm going to fix this in the next couple days. Thanks for bringing this to my attention.

[2017-11-01 09:32] oliverw commented on #45
Could run the miner with maximum verbosity output and post the log here?

[2017-11-01 09:33] oliverw commented on #43
Thanks for reporting. Will look into it.

[2017-11-01 09:41] chestnyh commented on #42
Thanks to you.

[2017-11-01 16:15] 2zo commented on #45
`sgminer.exe --kernel lyra2v2 -o stratum+tcp://mona.poolmining.org:3092 -u M8k9bKo6wYhFJnrTxLecKQkpD3y1tquVcT -p x`

[code]

[2017-11-01 20:11] Konstantin35 opened #46 "Reset stats after reboot"
You can make so that the stats remain after a reboot miningcore?

[2017-11-02 01:59] calvintam236 commented on #46
noticed it a long time ago at poolminig.org

[2017-11-02 11:27] oliverw commented on #45
Is there no way to get sgminer spit out more detailed information?

[2017-11-03 02:31] jeong760 opened #47 "Could you add a GlobalToken (GLT)?"
Dears,

Could you add a GlobalToken? it uses a same algorithm of Bitcoin but PoolMiningEngine does not have its information.

GlobalToken info
"name": "GlobalToken",
"symbol": "GLT",
"algorithm": "sha256"

Diff information
Min Diff: 1
Max Diff: 83,886,080

Website:
www.globaltoken.org

Chaininfo URL
https://www.blockexperts.com/glt
https://bchain.info/GLT/

Blockexplorer URL
https://www.blockexper

[2017-11-03 03:32] jeong760 opened #48 "Merged mining support for same algorithm like following?"
Dears,

How can I setup a merged mining using  MiningPoolEngine for following coins?
- Bitcoin and Namecoin  and GlobalToken
- Dogecoin and Litecoin

Thanks in advance.
Regards,
John Ahn

[2017-11-03 03:40] jeong760 opened #49 "The mining pool installation guide."
Dears,

I am writing a guide for MiningPoolEngine installation on  Ubuntu 16.04LTS version as following.
Is there anything should I added here?
[MiningPoolEngine_Guide.txt](https://github.com/coinfoundry/miningcore/files/1440035/MiningPoolEngine_Guide.txt)

-------------- Contents ---------------------
0. Update and install of Ubuntu Linux patches
1. Inatllaiton a Microsoft .NET SDK
   1.1 Registe

[2017-11-04 19:43] Bratan opened #50 "Question regarding backup daemons."
I have a question regarding how the backup daemons work.

From what I can see, blocks are being submitted to all registered daemons but payments are being processed using only the first one in the list.

Won't this be a problem at some point, since blocks could be submitted to other daemons but payments will be processed only from the first daemon/wallet?

[2017-11-05 11:59] oliverw commented on #50
Very legitimate question. Blocks are submitted to all daemons to get them included in the mainchain as fast and as reliable as possible. Double submissions would get rejected by the network. No problem for the pool. On the other hand payments cannot be submitted to multiple daemons as this would result in double or triple payouts - ruining the pool.

[2017-11-05 12:01] oliverw commented on #48
There are configuration examples for several coins in the examples folder of the repository. Other coins such as Bitcoin should only involve changing the coin type. Namecoin and GlobalToken are currently not supported and would require minor code changes. Feel free to contribute them. 😄

[2017-11-05 12:02] oliverw commented on #49
Looks good for a first draft. 👍

[2017-11-05 12:03] #33 closed

[2017-11-05 12:04] oliverw commented on #47
Shouldn't be problem. But I would need someone to test the implementation on a real network of that coin. If you could do that I could implement the coin.

[2017-11-05 14:28] Bratan-X commented on #50
Yes indeed, this is what I thought as well.

So this means that coins mined in the 2nd/3rd/etc. daemon/wallet need to be manually transferred to the first/main wallet in order for the payments to be processed?

[2017-11-05 19:19] calvintam236 opened #51 "Use Wiki for not-that-important info in README"
@oliverw can you create Wiki pages (can't do that on my end)? I think API, configuration in README can move into Wiki pages.
We should avoid a super long README.

[2017-11-05 19:21] oliverw commented on #51
Already thought about that myself. Good idea.

[2017-11-05 19:23] calvintam236 commented on #50
@Bratan I think you can import the wallet using seeds or keys on the backup daemons so they have the same access of the same wallet?

[2017-11-05 19:29] calvintam236 commented on #49
Note that this draft looks like for standalone installation. If I have some time later, I would add how to use Docker container to run the pool instead. (Because using docker image is much simpler and faster.)

[2017-11-05 19:34] calvintam236 commented on #51
@oliverw I will get it done in the next hour. 👍

[2017-11-05 19:35] 2zo commented on #51
Can translate on Russian

[2017-11-05 19:50] Bratan commented on #50
@calvintam236 - This is what I thought at first (cloning the wallet for multiple daemons), but it seems this is not supported and could/will run into problems. From what I understand the synchronization will only work up until some point.

https://bitcointalk.org/index.php?topic=1986.msg25154#msg25154

[2017-11-05 20:02] oliverw commented on #50
@Bratan Thanks for the extremly helpful link. Looks like my assumption in this regard was to optimistic.

Improvements to the daemon interface are already on top of my todo list after improvements to the REST API. Since running multiple wallet copies is not a supported scenario one of the changes I'm planning to extend the [tagging mechanism used for the Monero wallet daemon](https://github.com/co

[2017-11-05 20:24] calvintam236 commented on #50
@Bratan how about using same blockchain (same data folder) by multiple daemons? i think this might make more sense, and it is supported

https://monero.stackexchange.com/questions/3689/why-would-you-need-multiple-daemons-using-one-lmdb-database

[2017-11-06 07:11] Serpent6877 opened #52 "PPLNS incorrect payout?"
I have an ETC config.

[code]

I am the only miner on this pool during testing with 300MH. A block was found by me. But my pending balance is:

 "pendingShares": 56139,
  "pendingBalance": 0.421189398082,
  "totalPaid": 0.0,

This is on Linux using Claymore. So there is the small dev fee connection. Is it really causing that much of a loss?

[2017-11-06 07:29] oliverw commented on #52
The problem is the large window size combined with few shares required to find the block. The algorithm was unable to hit the PPLNS window size (factor": 2.0) resulting in a staggered payout over multiple blocks.

To be clear, you did not lose anything, it's just that you get paid over multiple blocks. I'd try reducing the window size down to 0.5 or even less. You need to experiment a bit.

[2017-11-06 07:45] Serpent6877 commented on #50
I have been running redundant Parity daemons for a couple months without issues. Using the same wallet address. They are running on two separate machines. It is how I handle east/west coast configurations. They then peer with each other.

[2017-11-06 10:54] jeong760 commented on #47
@oliverw thanks and I've already fully tested a GLT using nomp mining pool until today. so if you asking me then I will implement a GLT using a miningcore and test again.

[2017-11-06 11:13] oliverw commented on #47
@jeong760 To be clear, do you want to make a pull request with the actual code changes or are you offering to run a GLT test pool to verify that any changes I make actually work?

[2017-11-06 14:24] jeong760 commented on #47
@oliverw I mean that I use another mining pool software so now I cannot make any PR.

[2017-11-06 15:48] mario1987 opened #53 "Quark ?"
Is there no support for Quark coins ?

[2017-11-06 15:58] oliverw commented on #53
Currently not supported but feel free to contribute a PR.

[2017-11-06 17:58] Serpent6877 commented on #52
Is 2.0 good for larger pools then? And the low payout is due to my low share/hashing power?

Thanks for the quick reply by the way.

[2017-11-06 18:07] oliverw commented on #52
The low payout is simply because of the few number of shares contributing to the block you found. And yes 2.0 would be for pools with lots of miners generating tons of shares. In general PPLNS is not really suited to solo-mining. That's why we have a [PROP payout scheme](https://github.com/coinfoundry/miningcore/issues/19) on the todo list. If you'd like to manually force the pool to send yourself

[2017-11-06 18:44] Serpent6877 commented on #52
Thanks. This seems to have broke a couple of things. When I look at my miner API I only see this now:

{
  "pendingShares": 62756,
  "pendingBalance": 5.0,
  "totalPaid": 0.0,
  "hashrate": []
}

And I get this error in the logs:

[2017-11-06 10:37:34.6744] [E] [etc1] [Ethereum Payout Handler] Object reference not set to an instance of an object.

Here is what I ran in psql:
select sum(reward) fro

[2017-11-06 18:46] oliverw commented on #52
Can you post the full exception log including stacktrace?

[2017-11-06 18:52] Serpent6877 commented on #52
Not sure if this is what you are asking for?

[2017-11-06 10:50:11.1624] [I] [ShareRecorder] Online
[2017-11-06 10:50:11.2280] [I] [ApiServer] Launching ...
[2017-11-06 10:50:11.5772] [I] [ApiServer] Online @ 107.191.112.238:4000
[2017-11-06 10:50:11.6287] [I] [etc1] [Pool] Launching ...
[2017-11-06 10:50:11.6662] [I] [etc1] [Ethereum Job Manager] Launching ...
[2017-11-06 10:50:11.8483] [I] [etc1

[2017-11-06 18:55] oliverw commented on #52
No I meant everything following: [2017-11-06 10:37:34.6744] [E] [etc1] [Ethereum Payout Handler] Object reference not set to an instance of an object.

[2017-11-06 18:58] Serpent6877 commented on #52
it is just normal runtime info until payout again. Then repeats the same error. No other info.

[2017-11-06 10:37:33.8480] [I] [PayoutManager] Online
[2017-11-06 10:37:33.8543] [I] [PayoutManager] Processing payments for pool etc1
[2017-11-06 10:37:34.5558] [I] [PayoutManager] No updated blocks for etc1
[2017-11-06 10:37:34.6744] [E] [etc1] [Ethereum Payout Handler] Object reference not set to an

[2017-11-06 19:00] oliverw commented on #52
Do you have per-pool logging turned on in the config?

[2017-11-06 19:01] Serpent6877 commented on #52
"logging": {
        "level": "info",
        "enableConsoleLog": true,
        "enableConsoleColors": true,
        "logFile": "pool.log",
        "logBaseDirectory": "/opt/devpool/logs",
        "perPoolLogFile": false
    },

[2017-11-06 19:02] oliverw commented on #52
Hmm, strange that the exception contains no stacktrace.

[2017-11-06 19:09] oliverw commented on #52
Could you update to the latest version and try again. The error should be more detailed now.

[2017-11-06 19:35] Serpent6877 commented on #52
[2017-11-06 11:35:27.9402] [I] [PayoutManager] Online
[2017-11-06 11:35:27.9453] [I] [PayoutManager] Processing payments for pool etc1
[2017-11-06 11:35:28.6549] [I] [PayoutManager] No updated blocks for etc1
[2017-11-06 11:35:28.7837] [E] [etc1] System.NullReferenceException: Object reference not set to an instance of an object.
   at MiningCore.Blockchain.Ethereum.EthereumPayoutHandler.<Payout>d

[2017-11-06 19:49] oliverw commented on #52
Please update again. You will now be told where the problem lies :-)

[2017-11-06 20:03] Serpent6877 commented on #52
There we go:

[2017-11-06 11:56:42.3183] [I] [ShareRecorder] Online
[2017-11-06 11:56:42.3819] [I] [ApiServer] Launching ...
[2017-11-06 11:56:42.7529] [I] [ApiServer] Online @ 107.191.112.238:4000
[2017-11-06 11:56:42.7907] [E] [etc1] "paymentProcessing.coinbasePassword" pool-configuration property missing or empty (required for unlocking wallet during payment processing)
Cluster cannot start. Go

[2017-11-06 20:08] oliverw commented on #52
This options is only required for Ethereum based pools:

[code]

keepUncles = false = payout uncles to miners (pools like nanopool do that)
keepTransactionFees = false = payout transaction fees to miners (pools like nanopool do that)

[2017-11-06 20:09] Serpent6877 commented on #52
Okay. Figured out the config:

    "paymentProcessing": {
        "enabled": true,
        "minimumPayment": 0.5,
        "payoutScheme": "PPLNS",
        "CoinbasePassword": "testpassword",
        "payoutSchemeConfig": {
          "factor": 1.0
        }
      }

However the following errors occurred:

[2017-11-06 12:08:12.2178] [I] [PayoutManager] Online
[2017-11-06 12:08:12.2231] [I] [PayoutMa

[2017-11-06 20:14] oliverw commented on #52
Are you using the correct password for the pool's wallet on your end? It has to be correct.

The other errors are due to some recently committed db schema changes. Give me a couple minutes to come up with migration instructions.

[2017-11-06 20:17] Serpent6877 commented on #52
Verified password several times. I use a password file with parity. My password does contain an exclamation in it. Not sure if that is having an effect.

Example: t3stPasw0rd!

[2017-11-06 20:22] oliverw commented on #52
Please run this in psql:

[code]

[2017-11-06 20:25] Serpent6877 commented on #52
Okay. Looks like that corrected the new share issues. Still can't get the password to work.

[2017-11-06 20:27] oliverw commented on #52
This is how we run parity on poolmining.org:

[code]
It is of crucial importance that the value of --author matches the pool address in MiningCore's configuration AND that --jsonrpc-apis contains "personal".

[2017-11-06 20:28] oliverw commented on #52
We definitely need better documentation for this. Sorry for that.

[2017-11-06 20:33] Serpent6877 commented on #52
I have been running parity using the open ethereum pool for months and an never needed the personal setting. Interesting. That was all it needed. But this is the next error:

[2017-11-06 12:30:37.5503] [I] [PayoutManager] Online
[2017-11-06 12:30:37.5565] [I] [PayoutManager] Processing payments for pool etc1
[2017-11-06 12:30:38.2670] [I] [PayoutManager] No updated blocks for etc1
[2017-11-06 12:3

[2017-11-06 20:34] Serpent6877 commented on #52
No need to be sorry about anything. You are giving your free time for a great project.

[2017-11-06 20:37] oliverw commented on #52
Yeah it's a special case since we've manually messed with the balances. Adjusting the amount as you've suggested is the correct approach here.

[2017-11-06 20:42] Serpent6877 commented on #52
Thanks again. Do you have a ETC address? I'll send you a few.

[2017-11-06 20:44] oliverw commented on #52
That's the least I can do.

0xF8cCE9CE143C68d3d4A7e6bf47006f21Cfcf93c0

[2017-11-06 20:47] Serpent6877 commented on #52
2 incoming from 0x24a0dc797d584f13b92ffcee41449b0f4e6427e6. Can close this issue now. Thanks!

[2017-11-06 20:50] #52 closed

[2017-11-06 20:54] oliverw commented on #52
Wow. That wasn't necessary but thanks a lot!

[2017-11-07 18:45] sblanchard commented on #42
Also having the same issue with Monero and tested Dash. Don't know if it's related, but fails on the same method. What should I change the constant to to get it working?

[2017-11-08 01:15] sblanchard commented on #42
Seems like I have a different issue but it's stuck in the same loop

`            while(!await AreDaemonsHealthy())
            {
                logger.Info(() => $"[{LogCat}] Waiting for daemons to come online ...");

                await Task.Delay(TimeSpan.FromSeconds(10));
            }
`
Catching the exception which is normally ignored in the Method  ExecuteCmdAllAsync of DaemonClient I get

[2017-11-08 11:50] oliverw commented on #42
@sblanchard Sorry for replying late. Did you realize that Monero requires two daemons? One for the blockchain and one for the wallet? ([Example](https://github.com/coinfoundry/miningcore/blob/master/examples/monero_pool.json))

[2017-11-08 11:55] sblanchard commented on #42
Hi Oliver,

Yes, I'm using the demo config this is my daemon section

`
     },
      "daemons": [
        {
          "host": "127.0.0.1",
          "port": 18081,
           "user": "user",
          "password": "pass"
       },
        {
          "host": "127.0.0.1",
          "port": 18082,
          "user": "user",
          "password": "pass",
          "category": "wallet"
        }

[2017-11-08 12:14] sblanchard commented on #42
I've done a build on another machine Windows (Server 2012) rather than Windows 10, used the exact example config and it's still doing the same thing.

[2017-11-08 13:10] oliverw commented on #42
What happens if you run this:

[code]
If you need curl for windows look here: https://curl.haxx.se/download.html

[2017-11-08 13:18] sblanchard commented on #42
curl: (6) Could not resolve host: 2.0,
curl: (7) Failed to connect to id port 1: Timed out
curl: (52) Empty reply from server
curl: (6) Could not resolve host: get_info,
curl: (52) Empty reply from server
curl: (3) [globbing] bad range specification in column 2
curl: (3) [globbing] unmatched close brace/bracket in column 1
curl: (52) Empty reply from server
curl: (7) Failed to connect to 127.0.0.1

[2017-11-08 13:26] oliverw commented on #42
That doesn't look right. It shouldn't try to resolve "2.0" as a hostname. Probably a problem with the Windows Command Line. I develop on Windows 10 but do most of my troubleshooting inside Windows 10's WSL (Windows Subsystem for Linux - or Bash for Windows). Unfortunately you don't have that on Windows Server.

Try this:
[code]

[2017-11-08 13:33] sblanchard commented on #42
This is a more straightforward answer:

curl: (7) Failed to connect to 127.0.0.1 port 18081: Connection refused.

It's strange, I was going to ask about your dev environment and what the current checked in code does if you run it with an example config in debug in Win10. My dev pc which I tried it on first is Windows 10.
I'm not sure what the sequence of events are supposed to be be as the code is

[2017-11-08 13:40] oliverw commented on #42
The listeners are not supposed to get started until the pool made sure that he's got a daemon to talk to. Imagine the listeners would be started, miners connect and the pool had to respond with "sorry guys, I don't have anything to work for you" 😄

Anyway, if curl is unable to connect to the daemons, the pool won't be either. We first need to figure out why the daemons are not reachable. How to do

[2017-11-08 13:43] sblanchard commented on #42
The API on port 4000 is up and connecting, so it's not an issue across all ports with the assembly. hmm

[2017-11-08 13:46] oliverw commented on #42
I think you are confusing something here.

- Port  4000 is a port serviced by MiningCore itself.
- Your problem is about MiningCore unable to connect to the coin daemon. Which is confirmed to be a problem with the daemon through our test using curl

[2017-11-08 13:57] sblanchard commented on #42
Yeah just checking that it's not a general networking stack issue. I take it you can't replicate this issue on windows? Because I've managed to do it on two different machines with the current code on here?

[2017-11-08 14:12] oliverw commented on #42
I usually have to juggle with a lot of different coin daemons. To make that bearable at all I normally run them inside docker containers. But just last weekend I had to test something that required monerod and monerowalletd to run directly on Windows which worked without problems.

[2017-11-08 14:13] oliverw commented on #42
What's the output you get when running monerod?

[2017-11-08 14:54] sblanchard commented on #42
Hmm. Ok I can connect to the daemons now with curl.
Outputs
`{
  "error": {
    "code": -32700,
    "message": "Parse error"
  },
  "id": 0,
  "jsonrpc": ""
}`

Both output:
You are now synchronized with the network. You may now start monero-wallet-cli.

And on curl

2017-11-08 14:50:26.779 [RPC1]  ERROR   net.http        contrib/epee/include/storages/portable_storage_from_json.h:98   Wrong JSON c

[2017-11-08 14:55] sblanchard commented on #42
If i put the wrong username/password in the config file then Minecore outputs

2017-11-08 14:55:04.1289] [E] [xmr1] [Monero Job Manager] Daemon reports invalid credentials]

[2017-11-08 14:59] sblanchard commented on #42
Fails on Wallet server "Method not found"

[2017-11-08 14:59] oliverw commented on #42
That's to be expected. Just put in the correct ones. Does the pool start now?

[2017-11-08 15:01] oliverw commented on #42
Post the pool config with stripped out credentials.

[2017-11-08 15:05] sblanchard commented on #42
It's the exact default config at the moment that I just recopied a few minutes ago.

'
{
    "logging": {
        "level": "trace",
        "enableConsoleLog": true,
        "enableConsoleColors": true,
        "logFile": "",
        "logBaseDirectory": "",
        "perPoolLogFile": false
    },
    "banning": {
        "manager": "integrated"
    },
    "notifications": {
        "enabled": false

[2017-11-08 15:16] sblanchard commented on #42
Am I missing a command line param for the second wallet instance of monerod because it doesn't recognize the json command? The first daemon instance is fine?

[2017-11-08 15:18] oliverw commented on #42
The second daemon instance must be "monero-wallet-rpc" but how could you know that if it isn't mentioned anywhere. We simply need much better docs.

[2017-11-08 15:19] sblanchard commented on #42
Thanks for that, sorry for wasting your time on this.

[2017-11-08 15:20] oliverw commented on #42
No I've wasted yours.

[2017-11-08 22:51] jeong760 opened #54 "Warning 'RCXX' defined but not used during compile"
Dears,

I have following errors during Linux compile, does it ok?

sha3/aes_helper.c:90:19: warning: ‘AES3_LE’ defined but not used [-Wunused-const-variable=]
 #define AES3      AES3_LE
                   ^
sha3/aes_helper.c:323:22: note: in expansion of macro ‘AES3’
 static const sph_u32 AES3[256] = {
                      ^~~~
sha3/aes_helper.c:89:19: warning: ‘AES2_LE’ defined but not used [-Wu

[2017-11-09 07:28] oliverw commented on #54
That's normal. The code in question is third party code and I didn't have the time or resources to go over it and fix every single warning.

[2017-11-09 07:29] #54 closed

[2017-11-09 08:41] Serpent6877 opened #55 "Inconsistent timestamps."
First not sure why UTC is the default time instead of the systems time?

The logging to a file uses system time but the database uses UTC. As well as the API output. Can we get a standard? Preferably system time.

[2017-11-08 18:08:16.2273] [I] [etc1] [Ethereum Job Manager] Submitting block 4802079
[2017-11-08 18:08:16.2895] [I] [etc1] [Ethereum Job Manager] Daemon accepted block 4802079

 2 | etc

[2017-11-09 14:07] jeong760 opened #56 "System.AggregateException: One or more errors occurred"
Dears,

I have this error during pool operation with bitcoin.
When this erros occurred then pool stop response and work.

[2017-11-09 14:03:13.0256] [E] [BTC] [Bitcoin Job Manager] Error during UpdateJob System.AggregateException: One or more errors occurred. (A task was canceled.) ---> System.Threading.Tasks.TaskCanceledException: A task was canceled.
   --- End of inner exception stack trace ---

[2017-11-09 14:14] jeong760 commented on #56
Dears,

Also, miner does not display its hash rate and pool diff
![capture](https://user-images.githubusercontent.com/18043565/32609648-b11b1a76-c5a3-11e7-99a3-02841055bca2.JPG)

[2017-11-09 14:41] chestnyh opened #57 "[PayoutManager] [btc1] Payment processing failed System.Net.Sockets.SocketException (0x80004005): Connection refused"
I have such problem when trying connect pool with bitcoin testnet. Config file:

bitcoin.conf:

rpcuser=bitcoinrpc
rpcpassword=bitcoinrpcpass
rpcallowip=0.0.0.0/0
rpcport=18332
daemon=1
server=1
testnet=1
gen=0

config.json:

{
    "logging": {
        "level": "info",
        "enableConsoleLog": true,
        "enableConsoleColors": true,
        "logFile": "",
        "logBaseDirectory": "",

[2017-11-09 21:31] calvintam236 commented on #55
@oliverw maybe adding an option in `config.json` for timezone format, so user can choose UTC or local time?

[2017-11-10 07:55] justnx opened #58 "Add Support for AEON"
Can you add AEON support please?
Since Monero is implemented already, that should be a Nobrainer to add Cryptonight-lite.

[2017-11-10 18:41] 2zo opened #59 "at MiningCore.Blockchain.Ethereum.EthereumPayoutHandler.<Payout>d__17.MoveNext()"
Here such error began to appear when it fails to pay the purse from the initial unlocked parity

[code]
Launched version from Nov 5, 2017 payment went fine I do not understand why this option CoinbasePassword  purse initially unlock the team parity

[2017-11-10 19:08] jeong760 opened #60 "simple syntax error on windows-build.bat"
Dears,

There was a syntax error on windows-build.bat. so it needs to change it
Because it could not create a build folder under miningcore folder located due to slash and backslash usage error on mkdir dos command.

Linux uses a slash (/) represent a root directory however dos and windows uses a backslash (\) for it.

Before
mkdir -p ../../build

After
mkdir  -p ..\..\build

Regards,
John Ahn

[2017-11-12 09:07] jeong760 opened #61 "How I add a new coins for GlobalToken (GLT)?"
Dears,

I've modified a ClusterConfig.CS and CoinMatadata.cs in order to add a GlobalToken(GLT)
However, after I compiled I've got following errors so which code related to this should I edit?

Based on following error it does not load a coin related daemon and Stratum interface for mining.
So want to know where I can edit more

System.AggregateException: One or more errors occurred. (Sequence con

[2017-11-12 09:36] jeong760 commented on #61
Dears,

I've found where I can be modified but still have an error related with Jobmanager.

ClusterConfig.cs
CoinMataData.cs
BitcoinPayoutHandler.cs
BitcoinPool.cs

The error is
[2017-11-12 18:33:24.1731] [I] [ShareRecorder] Online
[2017-11-12 18:33:24.2698] [I] [ApiServer] Launching ...
[2017-11-12 18:33:24.6397] [I] [ApiServer] Online @ 127.0.0.1:4000
[2017-11-12 18:33:24.6909] [I] [BTC] [Pool]

[2017-11-12 09:46] jeong760 commented on #61
Dears,

I am going to make a mining test with GlobalToken (GLT) and I found that similar algorithms just modified the following code.

ClusterConfig.cs
CoinMataData.cs
BitcoinPayoutHandler.cs
BitcoinPool.cs
BitcoinProperties.cs (additionally found)

Regards,
John Ahn

[2017-11-12 09:53] jeong760 commented on #47
@oliverw Thanks for the comment.  Today I've added a GLT on miningcore and now I am making a test run to see new blocks mint or not.

[2017-11-12 09:53] jeong760 commented on #47
@oliverw I modified following code of miningcore

ClusterConfig.cs
CoinMataData.cs
BitcoinPayoutHandler.cs
BitcoinPool.cs
BitcoinProperties.cs

Regards,
John Ahn

[2017-11-12 09:56] jeong760 commented on #61
Dears,

Just before I found a GLT new blocks.

[2017-11-12 18:55:16.9602] [I] [BTC] [Pool] [0HL99MA8HM2V3] VarDiff update to 5500
[2017-11-12 18:55:19.0884] [I] [GLT] [Bitcoin Job Manager] Submitting block 255482 [0000000000000cbee695f595e451514758ce9cd5eb1dcebd628b4ed9bf32015d]
[2017-11-12 18:55:19.1770] [I] [GLT] [Bitcoin Job Manager] Daemon accepted block 255482 [0000000000000cbee695f595e451514

[2017-11-12 09:57] jeong760 commented on #47
@oliverw  Just before I found a new block of GLT so it seems work as normal.
Could you add a GLT in your supported coin list?

[2017-11-12 18:55:16.9602] [I] [BTC] [Pool] [0HL99MA8HM2V3] VarDiff update to 5500
[2017-11-12 18:55:19.0884] [I] [GLT] [Bitcoin Job Manager] Submitting block 255482 [0000000000000cbee695f595e451514758ce9cd5eb1dcebd628b4ed9bf32015d]
[2017-11-12 18:55:19.1770] [I] [GLT] [Bi

[2017-11-12 12:29] 2zo opened #64 "[btg1] [Pool] [0HL99OPPKGIKQ] Share rejected: UnauthorizedWorker"
Claymore's Does not work if you add a rig_name

[code]
If you remove the rig_name all work but here at the beginning of this error

this is despite the `"difficulty": 1,`
[code]
change `1` to `2`
this error disappears
`ZEC: Received error: {"error":{"code":20,"message":"Unsupportedrequestmining.extranonce.subscribe","data":null},"id":5}`

[2017-11-12 15:20] chestnyh commented on #57
Problem solved.

[2017-11-12 15:20] #57 closed

[2017-11-12 15:21] oliverw commented on #57
How?

[2017-11-12 15:22] oliverw commented on #64
Working on it.

[2017-11-12 15:22] oliverw commented on #64
By the way. Did you manage to mine a block on the BTG testnet?

[2017-11-12 15:58] jeong760 opened #65 "Payout issue after update"
Dears,

I checked a log and found that was related with PPLNS calculation.
- First, it calculated a 1.5% to pool op
- Second, it calculated a remaining reward after deducted a 1.5% for pool op
- Third, it calculated a PPLNS percent of GLT miner
- Fourth, it tried to send a reward to two separte address, which poolop and GLT miner
               however following error occurred.

[2017-11-13 00:57:

[2017-11-12 16:07] chestnyh commented on #57
I don't. Because in some moment error have disappeared. I think, node was not synchronized fully.

[2017-11-12 16:17] jeong760 commented on #65
[2017-11-12 23:55:15.6853] [I] [PayoutManager] Processing payments for pool GLT
[2017-11-12 23:55:15.7078] [I] [GLT] [Bitcoin Payout Handler] Unlocked block 255482 worth 100 GLT
[2017-11-12 23:55:15.7133] [I] [PayoutManager] Processing payments for pool GLT, block 255482
[2017-11-12 23:55:15.7342] [I] [GLT] Adding 1.5 GLT to balance of GR75m73cMwbgjVXUsUdDaTtVa7zRdfFtFS
[2017-11-12 23:55:16.3006]

[2017-11-12 16:21] jeong760 commented on #65
I use a local wallet address of both (sender and receiver). I mean that send a coin from pool wallet to pool wallet address.

[2017-11-12 16:47] oliverw commented on #65
Strange. It crashes in Line 233 but I'm missing the log output from Line 219 in your log - https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/Blockchain/Bitcoin/BitcoinPayoutHandler.cs#L219

[2017-11-12 16:47] oliverw commented on #65
Any chance for you to debug this?

[2017-11-12 16:48] oliverw commented on #64
This whole problem is mostly likely related to this: 4c54c313844c69e84591c544510527fdd27313d6

[2017-11-12 16:52] oliverw commented on #61
For this to work you need to extend the coin metadata on [the pool](https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/Blockchain/Bitcoin/BitcoinPool.cs#L33) and the [payout handler](https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/Blockchain/Bitcoin/BitcoinPayoutHandler.cs#L44). And you will also need to add the coin to the [Bitcoin Properties](https://github

[2017-11-12 16:53] #60 closed

[2017-11-12 16:58] oliverw commented on #59
Ah you have a pre-unlocked wallet?

[2017-11-12 17:42] 2zo commented on #64
unit I found, the network will trigger the difficulty will fall on a test network, I will try
downloaded the latest version Claymore's everything seems to be OK

[2017-11-12 17:46] oliverw commented on #64
So is this still a problem?

[2017-11-12 17:54] 2zo commented on #64
Now launched, everything works fine I think the problems should not be

[2017-11-12 17:54] oliverw commented on #64
Ok great.

[2017-11-12 17:54] #64 closed

[2017-11-13 04:57] jeong760 commented on #65
@oliverw, What should I post or give related with this  error?

I  am under test a miningcore on  windows computer, there installed a BTC and GLT wallet. for sure I uses a both of wallet and its address for payment send and received.

**Total GLT balance on payment address is 200GLT.**

**Payment step.**

Unlocked a block(255482) ---> Processing paymnets for pool  GLT, block 255482 ----> Adding 1.

[2017-11-13 07:46] pfeiflelukas opened #66 "Basic Front End Website"
Has anyone created a basic front end website for display statistics for the miners and pool hashrate/miners?

Thanks

[2017-11-13 08:31] jeong760 commented on #66
Dears,

You can check and  change hard coded web front end on following github
Owner wrote on currently it does not fully developed but possible to use your purpose I think.

https://github.com/calvintam236/miningcore-ui

Regards,
John Ahn

[2017-11-13 08:35] pfeiflelukas commented on #66
Hi John,

Thanks for that. Is there a read me for how to implement that with miningcore?

Thanks

[2017-11-13 08:37] jeong760 commented on #66
Dears,

Currently no. but you will need to modificaiton a miningcore-ui.js under js folder, then it sould be work.

Regards,
John Ahn

[2017-11-13 08:40] pfeiflelukas commented on #66
Awesome i will have a go and post my findings/solutions :)

[2017-11-13 09:53] pfeiflelukas commented on #66
I did just successfully compile miningcore and i was setting up the conf file to be run and saw that there was only one coin in the example. Does this mean that each coin needs a separate conf file to be run, and how would the miningcore-ui recognise all the API's created?

Thanks

[2017-11-13 09:59] #66 closed

[2017-11-13 10:04] pfeiflelukas opened #67 "How to add multiple coins to the conf file"
I am confused about the section below. How do i go about adding more pools? Is it in another conf file or can i simply add more to the section below?

    "pools": [{
        "id": "dash",
        "enabled": true,
        "coin": {
            "type": "DASH"
        },
        "address": "yiZodEgQLbYDrWzgBXmfUUHeBVXBNr8rwR", //pool address
        "rewardRecipients": [{
            "type": "op",

[2017-11-13 10:27] #67 closed

[2017-11-13 10:34] jeong760 commented on #65
@oliverw could you write here exactly what you needed for debug?

[2017-11-13 14:09] #59 closed

[2017-11-13 14:11] oliverw commented on #59
Reason for closing?

[2017-11-13 23:17] jeong760 opened #68 "Simple question about var diff"
Dears,

How can I set and use a var diff like following?

- start from a 1024  -- 2048 -- 4096

Regards
John Ahn

[2017-11-13 23:27] jeong760 commented on #68
I mean that use a 2 ×

[2017-11-13 23:27] #68 closed

[2017-11-13 23:35] jeong760 opened #69 "How can I use a 2 power n integer var diff?"
Dears

The 2 power of n integer var diff support by miningcore and can assign it to the mininer using var diff algorithem?

Regards,
John Ahn

[2017-11-13 23:36] jeong760 commented on #69
I means that initially miner start from 64 and 64 and 128 and so on var diff assgin from the pool

[2017-11-14 01:52] pfeiflelukas opened #70 "System Timeout Execption"
- [E] [vertcoin] [Pool] Unable to persist pool stats System.TimeoutException: The operation has timed out.
- [E] [PayoutManager] [vertcoin] Payment processing failed System.TimeoutException: The operation has timed out.

These errors also happen with any other coin configured. Is this just because miningcore isn't getting a response from the coin daemon quick enough?

I am running each coin daemon

[2017-11-14 09:08] #70 closed

[2017-11-14 11:14] jeong760 opened #71 "Pool fee calculation or show up issue."
Dears,

I've set 1% of the fee for BTC but it shows up a 1.15% of the fee for pool op when new block find.
So I think there is an error calculate a Pool fee.

Mining Pool:            BTC
Coin Type:              BTC
Network Connected:      Main
Detected Reward Type:   POW
Current Block Height:   494246
Current Connect Peers:  41
Network Difficulty:     1364422081125.15
Network Hash Rate:      8193

[2017-11-14 13:49] mario1987 commented on #3
Is there any update on the web-frontend?
The frontend on https://poolmining.org/ looks nice it this the one that will be used for this pool software?

[2017-11-14 13:57] #65 closed

[2017-11-14 13:58] oliverw commented on #71
Could you post the rewardRecipients part of your config?

[2017-11-14 13:59] oliverw commented on #69
You mean you want the vardiff algorithm always adjust the diff in power of 2 steps?

[2017-11-14 14:00] oliverw commented on #61
@jeong760 Did you get the coin working including payouts?

[2017-11-14 14:01] #56 closed

[2017-11-14 14:02] oliverw commented on #55
@Serpent6877 Well UTC was chosen because it's easy to display in a user's local time in web frontends, apps. etc.

[2017-11-14 14:04] oliverw commented on #55
@calvintam236 Sorry, adding an option for this is currently not possible.

[2017-11-14 14:05] oliverw commented on #51
@2zo Thanks for the kind offer but I think we'll stick to english only for now.

[2017-11-14 14:05] #51 closed

[2017-11-14 14:06] oliverw commented on #46
Yes that definitely needs to be improved.

[2017-11-14 14:06] #37 closed

[2017-11-14 14:07] oliverw commented on #58
@justnx Any chance for a PR?

[2017-11-14 21:15] jeong760 commented on #69
@oliverw yes, I want to use a vardiff algorithm always adjust a diff in power of 2 like a 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096 and so on ..

[2017-11-14 21:20] jeong760 commented on #61
@oliverw I've mint a 28 of new GLT blocks in total since Nov 12 until today. however, the payment I set every 12 hours to try to pay a mint blocks cost to my address. however these days there were many changes so whenever I found a change I stopped a pool to applies them. so there is no payment log yet.

[2017-11-14 21:22] jeong760 commented on #71
"pools": [
    {
        "id": "BTC",
        "enabled": true,
        "coin": {
            "type": "BTC"
        },
        "address": "wallet address",
        "rewardRecipients": [
            {
                "type": "op",
                "address": "wallet address",
                "percentage": 1
            }
        ],

[2017-11-14 21:30] jeong760 opened #72 "Why miningcore does not use a redis?"
Dears,

I have a question why miningcore does not use a Redis as handling shares and handling payment.
Because Redis is much efficient to handle a thousand shares from miner and payment calculation.

Regards,
John Ahn

[2017-11-14 21:55] Bratan commented on #72
Redis is just a caching system, not related to handing shares and/or payments.

[2017-11-14 22:10] calvintam236 commented on #3
I am working on it. Check https://github.com/calvintam236/miningcore-ui/issues/2 for updates.

[2017-11-14 23:36] mario1987 commented on #27
What also can be a nice thing is info about the coin in the API like difficulty, net hash-rate.

[2017-11-14 23:51] jeong760 commented on #72
@Bratan  yes I know but it will reduce a overhaed to wrriten all imfo directly into the DB. And Redis is more faster then db.

[2017-11-15 09:11] oliverw commented on #72
PostgreSQL is an extremely mature and fast RDBMS. But even it wouldn't be as fast, it wouldn't matter as the shares are recorded and processed completely decoupled from the performance critical parts of the share processing pipeline.

I suggest you take a look at this: https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/Payments/ShareRecorder.cs

[2017-11-15 09:12] #72 closed

[2017-11-15 09:13] oliverw commented on #69
That's currently not supported. If you need absolutely need this, I would invite you to submit a PR that includes configuration options for turning on this feature.

[2017-11-15 09:13] #69 closed

[2017-11-15 09:14] oliverw commented on #61
I'm absolutely open to adding it. Could you submit a PR?

[2017-11-15 09:15] #53 closed

[2017-11-15 09:16] oliverw commented on #42
@sblanchard Did you get it working?

[2017-11-15 09:34] jeong760 commented on #61
@oliverw Yes, I will open a PR request again.

Regards,
John Ahn

[2017-11-15 12:25] jeong760 commented on #61
@oliverw I've opened a new PR request. please merge it your master branch.

[2017-11-15 13:58] pfeiflelukas commented on #71
Are you taking into account the dev contribution? Mine is all correct when the server starts up

[2017-11-15 14:00] oliverw commented on #71
@jeong760 I'm confused. Does it show 1.5% or 1.15%? If its the latter then @pfeiflelukas is correct. Check the bottom of the README. I've just updated it to make things clearer.

[2017-11-15 14:22] #42 closed

[2017-11-16 01:24] pfeiflelukas commented on #45
I have the same issue just with another, Vertcoin one click miner. It just crashes the whole server. This miner is in pre-release so it may be the miner at fault.

[2017-11-16 01:43] jeong760 commented on #61
@oliverw  payment error has been gone after you several update on miningcore source code.
Only one problem is if pool wallet locked with password, then miningcore cannot prpceed ti payment .

So it could be better to add a wallet passphrase section in config.json and it will be used by miningcore payment process using wallet passphrase command.

[2017-11-16 01:44] jeong760 commented on #61
@oliverw  I confirmed that Globaltoken(GLT) has been work with miningcore without any issue.

[2017-11-16 01:45] jeong760 commented on #71
@oliverw pool fee shows up 1.15% and I've changed 2% it displayed a 2.15% on BTC

[2017-11-16 07:02] oliverw commented on #45
@pfeiflelukas Restarting itself is not something we should handle internally. If you are running the miningcore under systemd this is quite easy. This is how we do it on poolmining.org:

[code]

[2017-11-16 07:04] oliverw commented on #45
@pfeiflelukas If are able to reliably reproduce the crash you've mentioned I'd like to ask you to run using

[code]

Please post the log around the time the crash occurs.

[2017-11-16 07:05] oliverw commented on #71
devDonation = 0.15 does not remove the donation. devDonation = 0 does.

[2017-11-16 07:11] pfeiflelukas commented on #45
Sorry i should have made myself clearer. The stratum only crashes while the other parts of the software appear normal such as the finding blocks and payments. I can still see the program running with htop (ubuntu) however i cannot connect any miners. Only a full restart fixes this issue.

[2017-11-16 07:15] oliverw commented on #45
@pfeiflelukas Could you still try to repro the crash when running with trace logging?

[2017-11-16 07:32] jeong760 commented on #71
Just I wonder why only BTC does?

[2017-11-16 08:01] pfeiflelukas commented on #45
@oliverw Will do we i can

[2017-11-16 08:36] oliverw commented on #71
@jeong760 It's because the code contains a [donation address for BTC](https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/Blockchain/Bitcoin/BitcoinConstants.cs#L76) whereas it doesn't have one for more exotic coins.

Closing this as working as intended.

[2017-11-16 08:36] #71 closed

[2017-11-16 08:36] #48 closed

[2017-11-16 08:37] oliverw commented on #61
I will merge the PR as soon as the few changes I've requested have been done. Good work!

[2017-11-16 08:37] #61 closed

[2017-11-16 08:39] oliverw commented on #47
Will be resolved by merging your PR. Thanks for your contributions!

[2017-11-16 08:39] #47 closed

[2017-11-16 12:49] oliverw commented on #59
@2zo Was the payment about a block found in a production environment?

[2017-11-16 12:51] oliverw commented on #52
@Serpent6877 One question. Was the block you mentioned in your opening post found on the mainnet?

[2017-11-16 12:57] jeong760 opened #74 "What is the usual jobbroadcastTimeout value for sha256 coins?"
Dears,

Just I wonder how I set a JobbroadcaseTimeout value for sha256 coins such as BTC and GLT.
What is the usual value or suitable second for these type coins? should I set it their new block generation time such 600?

Regards,
John Ahn

[2017-11-16 13:00] oliverw commented on #74
It's the number of seconds until the pool broadcasts the current job again IF and only IF there no new block detected on the blockchain. This is to ensure that miners do think the pool went dead. New blocks are sent to all miners immediately of course. We currently use 55sec for all pools on poolmining.org.

[2017-11-16 14:02] jeong760 commented on #74
Thank you.  And I think we need to make a some wiki explanation each configurable item on config file.

[2017-11-16 14:03] oliverw commented on #74
Absolutely.

[2017-11-16 14:03] #74 closed

[2017-11-16 16:36] Serpent6877 commented on #52
@oliverw Classic

[2017-11-16 16:37] oliverw commented on #52
@Serpent6877 But it was not a testnet right?

[2017-11-17 00:41] Serpent6877 commented on #52
@oliverw Correct. This was a full ETC production system. I am mining it with my 240Mh test system.

[2017-11-17 02:51] pfeiflelukas opened #75 "Peercoin Correctly Implemented?"
@oliverw I have successfully got Dash, Namecoin, Vertcoin and Monacoin working but when i try to implement Peercoin the server crashes. It isnt a networking issue.

  at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at MiningCore.Blockchain.JobManagerBase`1.<StartDaemonAsync>d__12.MoveNext() in /home/cryptocentralized/miningcore/src/MiningCore/Bl

[2017-11-17 06:49] pfeiflelukas opened #77 "Addition of Bitconnect Coin"
Can we add this to the coin list please :)

[2017-11-17 07:21] #75 closed

[2017-11-17 07:21] oliverw commented on #75
Should be fixed now.

[2017-11-17 07:23] oliverw commented on #52
@Serpent6877 Thanks for the info. I was just asking because our pool hasn't found a single ETH or ETC block ever in production 😞

[2017-11-17 08:08] oliverw commented on #77
It appears to be a scrypt coin so adding it should be easy. Why don't you get your hands dirty? 😄

[2017-11-17 09:02] pfeiflelukas commented on #77
@oliverw Just trying now.

            // SHA256
            { CoinType.BTC, sha256Coin },
            { CoinType.BCC, sha256Coin },
            { CoinType.NMC, sha256Coin },
            { CoinType.PPC, sha256Coin },
	    { CoinType.GLT, sha256Coin },

What is the BCC sha256Coin? Bitconnect has the abbreviation of BCC and is scrypt.

[2017-11-17 10:34] oliverw commented on #77
Ok, let me just do it in a branch. I'll tell you when it's ready later today.

[2017-11-17 10:42] pfeiflelukas commented on #77
@oliverw I have fixed the BCH issues and added BCC and also tried to implement peercoin. No errors appear but both of them just continually say "Waiting for daemons to come online...".

I have used the same configuration file for the previous coins which has been working well. I have even copied the default configuration file from both BCC and PPC sources but still no success.

I can also use teln

[2017-11-17 10:46] oliverw commented on #77
Are you sure that the daemon runs at the correct port matching the pool config?

[2017-11-17 10:46] oliverw commented on #77
And you are right Bitcoin Cash is using the wrong symbol BCC. That needs to be changed.

[2017-11-17 10:52] pfeiflelukas commented on #77
Yep the config port matches the port in the conf file for each coin. I have been using:

rpcuser=user
rpcpassword=password
rpcallowip=internal address of the server
rpcport=high port number
listen=1
server=1
daemon=1

[2017-11-17 10:56] oliverw commented on #77
What happens if you run this (make sure to replace 1234 with the actual daemon port):

[code]
If you need curl for windows look here: https://curl.haxx.se/download.html and use this command line:

[code]

[2017-11-17 11:02] pfeiflelukas commented on #77
Both result in the same.
{"result":null,"error":{"code":-32601,"message":"Method not found"},"id":"1"}

Does this mean that the server is trying to call "getworkinfo" but these coins dont have the corresponding rpc command?

[2017-11-17 11:15] oliverw commented on #77
Looks like. Try "getinfo", "getmininginfo" and "getpeerinfo".

[2017-11-17 11:20] pfeiflelukas commented on #77
All of those work for the two coins :)

[2017-11-17 11:22] oliverw commented on #77
Supporting them would be a bit more involved since I just phased out support for getinfo a couple days ago since all major coins will stop supporting it soon.

[2017-11-17 11:25] pfeiflelukas commented on #77
Ah dam, any idea when this will be done?

[2017-11-17 11:26] oliverw commented on #77
I'll see what I can do. No promises though.

[2017-11-17 11:27] pfeiflelukas commented on #77
Awesome thanks

[2017-11-17 18:01] Serpent6877 commented on #52
@oliverw I have found two blocks using your pool software so far. I also run open ethereum pool as well. I have 55 on there.

[2017-11-17 19:20] rterbush commented on #5
Greetings, was just working on setting up miningcore for a zcash pool. I'm not clear if it is expected to work as the README indicates that it does.

I've tried with a couple of miners. I am getting different failure modes with each. tcpdump shows me the following for ccminer which appears to be erroring out with `ntime out of range`

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2017-11-17 19:24] rterbush commented on #5
EWBF is failing with "Unsupported request mining.extranonce.subscribe". Will leave out the redundant chatter above and show just the error exchange.

[code]
[code]

[2017-11-17 19:57] oliverw commented on #5
@rterbush mining.extranonce.subscribe is an stratum method that's purely optional therefore the warning is harmless. The miner failures are weird. I've tested with [dstm's ZCash Miner](https://github.com/coinfoundry/miners/raw/master/zm_0.5.4_win.zip) and [Claymore's ZCash Miner](https://github.com/coinfoundry/miners/raw/master/Claymore.s.ZCash.AMD.GPU.Miner.v12.6.zip) and both worked without prob

[2017-11-17 20:42] rterbush commented on #5
@oliverw I'll focus on EWBF for a bit here, but will have a look at dstm to compare. Last time I tried dstm, there were some compiled in dependencies (on Linux) that I was not willing to take the time to work around.

I don't know much about this protocol just yet, but it appears that the miner is having trouble with the `mining.notify` content.

Here is the `mining.notify` when EWBF is connected

[2017-11-17 21:02] rterbush commented on #5
So, just looking at this protocol spec referenced from Slushpool, it seems that the first field should be `id` and in the case of a `notification`, this value would be `null` as shown in the exchange with Flypool.

https://docs.google.com/document/d/17zHy1SUlhgtCMbypO8cHgpWH73V5iUQKk_0rWvMqSNs/edit?hl=en_US#heading=h.utj3qedgwts1

[2017-11-17 21:23] rterbush commented on #5
While digging into this further, I found the following bit of code commented out in the message response. Perhaps I am on the right track here?  About to give this a try.

https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/JsonRpc/JsonRpcResponse.cs#L67

[2017-11-17 21:31] 2zo opened #78 "Сompiling on debian 8"
[code]

[2017-11-17 22:19] rterbush commented on #78
I've found that I need to compile with gcc/++ 6.

[2017-11-17 22:51] rterbush opened #81 "Many "Last subscriber disconnected from receiver stream" messages"
Messages from EWBF indicating "Lost connection with server" at diff levels below 1 when applying about 5k M/h. After diff adjusts, the messages are gone or less frequent.

[2017-11-18 10:02] oliverw commented on #5
Weird. I just did a test run using EWBF 0.34 and the current version of Miningcore and the results are very different from your dump. The miner even mined a (testnet) block on the very first submitted share:

[code]

[2017-11-18 10:12] oliverw commented on #5
Closing this as the ticket was about the initial implementation of ZCash which is now complete.

@rterbush Randy could you be so kind and open a new ticket if you can still reproduce your problem with EBWF?

[2017-11-18 10:12] #5 closed

[2017-11-18 10:14] oliverw commented on #81
This sounds like the pool is dropping connections as share processing load increases and stops dropping connections as load normalizes due to VarDiff decreasing the rate of share submissions. Would you agree?

[2017-11-18 10:16] oliverw commented on #78
I think Randy's comment is spot on.

[2017-11-18 10:31] oliverw commented on #81
@rterbush By the way just just saw your email digging periodically through my Spam folder. Sorry about missing it and welcome aboard. Made you a contributor.

[2017-11-18 13:07] oliverw commented on #27
@mario1987 Both values you've mentioned are already returned by /api/pools

[2017-11-18 18:28] #78 closed

[2017-11-18 18:30] rterbush commented on #81
@oliverw Greetings sir
I've opened this first to get some feedback in case you, or someone is seeing this behavior. It's entirely possible that this server is underpowered although I am not seeing any resource issues. Also possible that my firewalling might be introducing some issue. Appears you are caring a pretty good load on poolmining.org so may be my environment.

Thanks for the commit perms.

[2017-11-19 03:52] pfeiflelukas opened #82 "New Commits Crash Server"
@oliverw I just pulled the new commits and now the server wont start with the previous config file. Did the config file change in anyway?

[2017-11-19 03:58:24.1193] [E] [litecoin] System.NullReferenceException: Object reference not set to an instance of an object.
   at MiningCore.Blockchain.Bitcoin.BitcoinJobManager`2.<AreDaemonsConnected>d__44.MoveNext() in /home/cryptocentralized/miningcore/sr

[2017-11-19 06:10] frndxyz opened #83 "support for karbowanec - cryptonote coin"
pool doesnt work with other cryptonote coins like karbowanec fork of forknote chain.

[2017-11-19 08:41] oliverw commented on #83
Feel free to submit a PR.

[2017-11-19 08:41] #83 closed

[2017-11-19 08:47] oliverw commented on #82
No not in this area. Looking at the top level error suggests that the Job Manager does not have a daemon at all. As if your config didn't contain any.

[2017-11-19 09:06] pfeiflelukas commented on #82
I am using the default config file with only one coin. Any suggestions?

[2017-11-19 09:22] oliverw commented on #82
Could you send the config with sensitive elements replaced by dummies to info@poolmining.org

[2017-11-19 10:08] pfeiflelukas commented on #82
Just did :)

[2017-11-20 03:55] pfeiflelukas commented on #82
@oliverw I have moved to a different VM reinstalled postgresql and setup, installed dependencies and recompiled miningcore. The build succeeded and i placed the config file in the build directory and then re-ran the program and the same output occurred.

Using configuration file config.json
[2017-11-20 03:53:11.5335] [I] [ShareRecorder] Online
[2017-11-20 03:53:11.5649] [I] [ApiServer] Launching .

[2017-11-20 05:24] pfeiflelukas commented on #82
Managed to solve the issue by replacing the pools address for each coin.

[2017-11-20 05:24] #82 closed

[2017-11-20 19:06] Serpent6877 commented on #52
Not sure what your config is. But a couple of things.

"blockRefreshInterval": 120,

Need to lower this to 120ms or so. Otherwise you are missing out on blocks. The share balancing seems to be off as well. I am using the following:

  "ports": {
        "3333": {
          "listenAddress": "0.0.0.0",
          "difficulty": 0.1,
          "name": "GPU Mining",
          "varDiff": {
            "m

[2017-11-20 21:01] oliverw commented on #52
@Serpent6877 *struck by lightning* Of course, with the extremely fast block times of ETH the refresh interval must be much lower.

[2017-11-21 14:11] rterbush commented on #81
@oliverw I continue to see these disconnects running 10kH/s on a private ZEC pool. I've increased server resources so that issue is ruled out. I see a number of reports in your support forum of this same issue. Pretty certain I am not having an DDoS issues, so must be something else going on.

I'll put a sniffer on the output and see if I can see more. Logs just showing that the miner disconnected

[2017-11-21 14:13] oliverw commented on #81
0a26d7525da87ec51807b0545ac2217642194005 included a possible fix for that among other changes.

[2017-11-21 14:59] rterbush commented on #81
Will give this a try after next failure.

Just an observation, it almost appears that the vardiff is going high and the miners get a difficult share which delays their response and perhaps the pool is assuming they are gone.

I do notice that diff is always changed in increments of "maxDelta". Never less than that value.

[2017-11-21 15:32] oliverw commented on #81
I'm pretty sure that you'd observe changes < maxDelta if you'd raise maxDelta.

[2017-11-21 15:54] rterbush commented on #81
maxDelta currently set to `1`. So no fractional changes?

Looking at the tcpdump for this interaction around the disconnect, there is nothing there that is not reflected in the log. The client suddenly reinitiates a new connection.

[2017-11-21 15:56] oliverw commented on #81
The change I've committed today prevents the server from silently dropping the connection in case of an exception being thrown while processing a stratum request which would the client force to reconnect. Not sure if it's related to the problem you've mentioned.

[2017-11-21 15:56] oliverw commented on #81
@rterbush By the way. Is that zcash pool a production pool?

[2017-11-21 16:01] rterbush commented on #81
I've just installed with your latest changes. Will report and close this if it appears to be resolved.

No, this is not a production pool.  Still working through the challenges of getting there... :-)

[2017-11-21 16:02] oliverw commented on #81
Ah ok. Keep me posted. Glad to help 😄

[2017-11-21 16:51] rterbush commented on #81
Had another disconnect not quite 1 hour in.

[2017-11-21 17:06] calvintam236 commented on #3
@oliverw if you add the header globally, all of the API methods can be called externally. you said don't open API to internet, so how you want us to use it?

to protect some API methods, add basic auth/IP whitelist?

[2017-11-21 17:17] oliverw commented on #3
@calvintam236 I added the headers so your web-frontend may call the API even if hosted on a totally different domain/host than the pool server. This is the only recommended use-case for the Pool's API interface. If you really need to expose the API from your web-frontend it should be done by just proxying a subset through your web-layer. poolmining.org does something like that for the Monero Pool:

[2017-11-21 17:40] rterbush commented on #3
In case it is helpful to someone, I've done the following with nginx which allows me to secure the api with it's own hostname using SSL. Example shows I was adding the CORS header to work around the issue. Any number of other auth methods could be applied using this same approach so that @oliverw is not wasting his time recreating the wheel. :-)

[code]

[2017-11-21 18:17] rterbush commented on #81
@oliverw just browsing through the code that is outputing the "last subscriber disconnected" message. One observation (and caveat that I am still getting my head around the code...)

This code is always going to be hit, therefor the `else` at line 276 will never happen because `prevIndex` is set to `index + 1` at line 258.

https://github.com/coinfoundry/miningcore/blob/0fc54735a77a6a7c72d803d2cd3

[2017-11-21 18:39] oliverw commented on #81
@rterbush Not, if the received data is a line fragment that does not contain a newline.

[2017-11-21 21:37] calvintam236 opened #85 "A guideline for new coin support"
@oliverw can you make us a basic guideline to implement coin support, e.g. where and what to edit? i think most people have no clue to begin with, especially there isn't much comment inside code to help understanding the system structure and workflow. in addition, how about provide a template for new coin?

[2017-11-21 23:17] calvintam236 commented on #3
@oliverw API auth reference: http://blog.restcase.com/restful-api-authentication-basics/
i would suggest to use same username/password on the server to simplify user control.

alternatively, split public access and security critical APIs on two ports, which we only need to open the public port?

[2017-11-22 05:31] frndxyz opened #86 "support for geth on ethreum based pow coins"
as much of ethbased pow coins provide geth config and convert it to parity is much difficult to test with pool, geth support is needed.

any possibility to implement it in future?

[2017-11-22 10:05] pfeiflelukas commented on #85
@calvintam236 I believe these are the files that need to be changed. it is a simple process if the pool already supports the coins algorithm.

ClusterConfig.cs
CoinMataData.cs
BitcoinPayoutHandler.cs
BitcoinPool.cs
BitcoinProperties.cs

[2017-11-22 11:00] oliverw commented on #85
@calvintam236 @pfeiflelukas I'm afraid its not that easy. At least not in general. Below is a list in order of increasing complexity:

1. The coins that are the easist to implement are Bitcoin forks with a slightly changed Proof-of-Work algorithm (examples Litecoin, Vertcoin)
2. Then we have coins that are Bitcoin forks but require some special treatment of their block template in order to satisfy

[2017-11-22 14:47] rterbush commented on #81
@oliverw while this seems to have become less frequent, I have still had 32 disconnect events over past 24 hours.

[2017-11-22 15:04] oliverw commented on #81
Thats inacceptable. Need to get to the bottom of this.

[2017-11-22 15:09] rterbush commented on #81
@oliverw regarding your comment on that bit of code above....

If there is a newline, we will never hit that `}else{` at `276` because `prevIndex` will never be `0`, so we never set `keepLease=true`.

Or am I missing something?

[2017-11-22 15:23] jeong760 opened #87 "What is private const int MaxRequestLength = 8192; means?"
Dears

I have a question about private const int MaxRequestLength = 8192;.
if I changed from an 8192 to more bigger value what things affected?

Regards,
John Ahn

[2017-11-22 15:35] oliverw commented on #87
@jeong760 MaxRequestLength is to prevent someone from bombarding the server with megabytes of junk data with the intent to crash the server. Feel free to increase it to your liking.

[2017-11-22 15:37] jeong760 commented on #87
Dears,

Does it related to ew RecyclableMemoryStreamManager(0x200, 16 * 0x200, 0x20000);?
if I change a 16*0x200 to 32 * 0x200, what affect?

Regards,
John Ahn

[2017-11-22 15:42] rterbush commented on #81
I've changed the title of this issue since I have confirmed that this is not related to number of connection requests. I've also turned on trace level logging to see if I can get a look at the transaction content when this happens.

[2017-11-22 15:42] #87 closed

[2017-11-22 15:43] oliverw commented on #87
Why would you want to do that?

[2017-11-22 15:48] jeong760 commented on #87
I want to see the result what affect

[2017-11-22 16:40] rterbush commented on #81
Here is packet capture from disconnect event. @oliverw let me know if you would prefer that I move this log output to gist... I've not really analyzed this yet to see if there is a clue...

[code]

[2017-11-22 16:50] rterbush commented on #81
The one thing I notice is that the recv buffer is missing the first 8 chars.
[code]

[2017-11-22 17:59] Kukks opened #88 "Coin support request: Straks (STAK)"
https://github.com/DeckerSU/yiimp/commit/baf855a4de8b9a6b55ff37723e6437ab643c8311#diff-c4b7ae2ce5a76e060ff0ba2ea76d8f7e

Looking to add straks support to this library. Any idea how that commit added support?

[2017-11-22 18:05] oliverw commented on #81
@rterbush The "recv" log is from a lower level where individual request fragments are logged, so this request must have arrived in multiple packets. I would be interested to see the recv log entries from the same connection just before the request.

[2017-11-22 18:08] oliverw commented on #88
The commit just adds another output (to charity) to the coinbase tx. I can't see any changes that appear to be mandatory to make it work.

[2017-11-22 18:29] Kukks commented on #88
That was my initial thought too. I'll go through the branch some more and
see what else is there. Thanks! I'll be throwing a prayer your way with
some new work I've been doing soon.

 Great work so far on this!

On Nov 22, 2017 19:08, "Oliver Weichhold" <notifications@github.com> wrote:

[2017-11-22 18:38] oliverw commented on #88
@Kukks Thanks 😄

[2017-11-22 19:03] rterbush commented on #81
@oliverw I've edited the above posts to include a bit more of the preceding data.

[2017-11-22 19:10] rterbush commented on #81
with all of this data here... I see the following:

`[2017-11-22 16:17:53.8954] ` seems to send the end of a complete json message.
`[2017-11-22 16:17:53.9478] ` the next recv: buffer seems to be missing some container info.

[2017-11-22 20:23] oliverw commented on #81
Debugging ...

[2017-11-23 07:35] Kukks commented on #88
@oliverw Apart from the 5% charity donation, there must also be some more stuff added to the block.
When using the straks testnet and submitting a block, MiningCore tells me it is inconclusive locally..

[2017-11-23 07:43] oliverw commented on #88
@Kukks Inconclusive usually just means that the daemon thinks he is not on the longest chain. Are you mining against testnet or regtest?

[2017-11-23 07:56] Kukks commented on #88
@oliverw Testnet. It was going crazy with the new blocks found though.

[2017-11-23 07:59] oliverw commented on #88
Do you get "inconclusive" all the time or just ocasionally?

[2017-11-23 08:07] Kukks commented on #88
All the time

[2017-11-23 08:09] Kukks commented on #88
I'm not at my dev pc, but I'll try get you a more detailed report on what issues I've experienced. I got a completely different error on my vps configured for straks testnet. Something about no balance in treasury fund but no blocks were being recorded in the postgres database.

[2017-11-23 08:10] oliverw commented on #88
Might still be something with your testnet connection. Any chance for running two coin daemons in regtest mode interconnected locally using addnode?

[2017-11-23 09:07] oliverw commented on #81
@rterbush I've fixed multiple problems with the receiver logic. Please re-open if you still observe disconnects with the latest code.

[2017-11-23 13:33] Kukks commented on #88
@oliverw This is the other error:
[code]

I'll set up another daemon now

[2017-11-23 13:36] oliverw commented on #88
Ok, sounds like a consensus rule violation which would confirm your assumption that supporting that coin requires some code changes.

[2017-11-23 13:40] oliverw commented on #88
Confirmed: According to their [chainparams](https://github.com/straks/straks/blob/master/src/chainparams.cpp) they are utilizing both treasury rewards and masternodes (similar to Dash).

[2017-11-23 14:11] rterbush commented on #81
Thanks for the hard work. The fix looks spot on. Will keep you posted.

[2017-11-23 14:15] Kukks commented on #88
I've tried this so far instead of the current Bitcoin Job based on the ZCash one:
[code]

Still same error though

[2017-11-23 15:06] oliverw commented on #88
@Kukks Not bad for a first shot. I'm pretty sure you realize that this would actually go into derived class similar to ZCashJob.

[2017-11-23 15:08] Kukks commented on #88
@oliverw For sure, I'm just trying to get this up and running before the mining rewards go live( in ~2 hours). I'm still getting `cb-no-treasury-funding` however. Do you think I missed something? Based on the commit in the first post, I think it's ok but I don't know C++ so I guessed my way around it.. This is the generated transaction:
[code]

[2017-11-23 15:20] oliverw commented on #88
@Kukks Being not familiar with that coin myself there's not much I can do to help you with that besides recommending you my go-to approach when dealing with issues like that and that is reading the coin's [miner.cpp](https://github.com/straks/straks/blob/master/src/miner.cpp) and comparing what they do there with my own implementation.

[2017-11-23 16:16] justnx opened #89 "master broken currently?"
Can't compile on Debian:

Throwing me:

find . -name '*.o' -exec rm -r {} \;
rm libcryptonote.so
gcc -Wall -c -fPIC -O2 -g -Wno-pointer-sign -Wno-unused-function -Wno-strict-aliasing -Wno-discarded-qualifiers   -c -o bcrypt.o bcrypt.c
In file included from bcrypt.c:40:0:
./stdint.h:34:2: error: #error "Use this header only with Microsoft Visual C++ compilers!"
 #error "Use this header only with Mi

[2017-11-23 17:55] rterbush commented on #89
Not having any trouble here compiling and running master. You compiling with gcc6?

[2017-11-23 17:59] rterbush commented on #81
Going to have to reopen this:

While the changes do seem to quiet things for the previous settings I was running for VarDiff, the failures reappear and are significantly worse if I run on ZEC with the following VarDiff settings. (has always been reported on ZEC)

[code]

I had been running with `variancePercent` of 30 and `maxDelta` at 1.

Changing to the settings above shows the disconnect error

[2017-11-23 18:02] rterbush commented on #81
Also rolling back c51b9ed0c212e0b1d1cbe31b8c52edb416b984d6 as that could also be further confusing this. Will report back...

[2017-11-23 18:13] rterbush commented on #81
The issue is recreated on the rolled back commit. I'm switching to fixed diff for awhile to see if that quiets this.

[2017-11-23 18:40] oliverw commented on #81
@rterbush I'm confused did you mean that c51b9ed reintroduced the problem?

[2017-11-23 18:43] rterbush commented on #81
@oliverw no, but I included it in the deploy of the updated code initially. Rolled back to your previous changes alone to make sure that the problems still existed after applying only 437daa4785261b0ef2f384d05c9ebd87609b492d

The disconnect messages are significantly less frequent when not running on VarDiff, but have still occurred over last 30 min.

[2017-11-23 18:50] oliverw commented on #81
@rterbush Could you update to the latest commit and run with debug logging. This time we should be able to extract much more information from the log.

[2017-11-23 18:54] rterbush commented on #81
Ok, I have updated with your latest commit. Will report back.

[2017-11-23 21:13] justnx commented on #89
i solved it by removing stdint.h

that should be excluded in universal build repos isn't it?

[2017-11-23 23:00] rterbush commented on #81
Captured error:
[code]

[2017-11-24 07:52] oliverw commented on #81
Ok we at least now that there are still JSON parsing errors happening. We just don't know why. I suspect another subtle bug in the StratumClient but was unable to provoke errors like those in isolated testing.

Too bad that I've told you to run with "debug" logging instead of "trace" because we are missing the actual data from your latest tests. 😢

[2017-11-24 14:16] Konstantin35 opened #92 "Page pools that use miningcore"
There is a proposal to create a page that pools built on miningcore
and to list those pools who is included `"devDonation"`

[2017-11-24 14:45] rterbush commented on #81
Here is a bit more data. I'll capture a few of these to see how they compare as I capture them.

[code]

[2017-11-24 15:00] rterbush commented on #81
Adding a bit more info... this issue is made to be worse when there is more connection activity. At low diff levels, it is more likely to happen. If the connections make it past the lower diff levels and manage to get the difficulty up to higher levels, the connections become more stable as there is less interaction with the pool.

[2017-11-24 15:13] oliverw commented on #81
@rterbush VarDiff could only indirectly influence the occurrence of this problem. There must be still something wrong in the StratumClient's line assembly logic under certain circumstances. /scratches head/

[2017-11-24 15:18] rterbush commented on #81
Agreed. Not suggesting that VarDiff is the problem, but forcing a low diff might make it easier to recreate.

[2017-11-24 17:30] rterbush commented on #81
Another flurry of disconnects:
[code]

[2017-11-24 17:32] rterbush commented on #81
Here is connection that did not get very far before sending `EOF`.
[code]

[2017-11-24 18:51] oliverw commented on #81
The last one is not an error. The client closed the connection. Otherwise the last two lines would have been in reversed order.

[2017-11-24 19:22] Konstantin35 opened #93 "Support x13"
[Bitcoin Diamond  (BCD) ](http://btcd.io/)
Need to add support for x13

[2017-11-24 19:58] rterbush commented on #81
I will give it a try and report back. I know how difficult this part of a tcp server is to get right. Thanks for persisting and sorry I could not provide more than the debugging.

[2017-11-24 20:31] rterbush commented on #81
@oliverw Initial results are very positive. Server has been able to walk up through diff level starting at 1 to 7 in delta of .5 without any disconnects. It was not able to do that in the past. I think you have nailed it. I will close and hope not to reopen. :-)

Thanks again

[2017-11-24 20:31] #81 closed

[2017-11-24 20:33] oliverw commented on #81
https://www.youtube.com/watch?v=_J6-3l3hCm0

[2017-11-24 20:52] oliverw commented on #93
You mean native support for the PoW algo in libmultihash?

[2017-11-24 20:53] oliverw commented on #86
Highly unlikely at the moment because parity has a couple features not present in geth. The most important one being the presence of the block height in its getWork response.

[2017-11-24 21:35] #93 closed

[2017-11-25 08:50] oliverw commented on #89
@justnx Could you help me out here. What's the issue with stdint.h?

[2017-11-25 08:51] oliverw commented on #86
Closing this for now.

[2017-11-25 08:51] #86 closed

[2017-11-25 08:52] #55 closed

[2017-11-25 08:57] oliverw commented on #45
Closing this as I'm quite confident that this was also a side-effect of the stratumclient bugs that have been recently fixed.

[2017-11-25 08:57] #45 closed

[2017-11-25 11:12] justnx commented on #89
when compiling: src/Native/libmultihash it throws:
./stdint.h:34:2: error: #error "Use this header only with Microsoft Visual C++ compilers!"
#error "Use this header only with Microsoft Visual C++ compilers!"

on my linux environment.

Weirdly on latest git pull it works again, so anything have been fixed/modified to bypass this header?

[2017-11-25 11:18] oliverw commented on #89
@justnx Nope. No recent commits touching this area.

[2017-11-25 11:53] justnx commented on #89
@oliverw Very weird. Since it works, im closing this issue.

[2017-11-25 11:53] #89 closed

[2017-11-25 18:54] oliverw commented on #81
@rterbush Ironically, there was still some bug lurking in there. I've just fixed it. 89a542d4cb22daa7fe343ddb5a5f02dcbe07bd72

[2017-11-25 18:57] rterbush commented on #81
Thanks for the heads up. Will apply your latest change. Has been rock solid with no disconnects since previous change.

[2017-11-26 17:56] cryptagoras opened #95 "Send miner payments on same new-found block by the pool"
I was wondering if the following is currently or would be possible:
In case the pool finds a new block, to include the payments to the miners on the same block.

I can see it being useful for certain cases for extra profitability etc., although on the other hand there's the possibility of losing the reward to a new block due to the extra delay to prepare the payment tx.

Thanks

[2017-11-26 17:58] oliverw commented on #95
Sorry not possible. The risk of losing the block due to delayed submission is simply too high. There's simply to much work involved in the payment calculation (database queries) to make it realtime capable.

[2017-11-26 17:58] #95 closed

[2017-11-26 22:33] jeong760 opened #96 "Json error state"
Dears,

I've found the following error in log file what does it mean?

[2017-11-27 04:17:20.0537] [E] [BTC] [Pool] [0HL9KOTFKDDJ9] Connection json error state: Unexpected character encountered while parsing value: G. Path '', line 0, position 0.
[2017-11-27 04:17:20.0537] [I] [BTC] [Pool] [0HL9KOTFKDDJ9] Banning client for sending junk

Regards,
John Ahn

[2017-11-27 07:28] oliverw commented on #96
It means the StratumClient received something that could not be parsed as valid json. poolmining.org for example is getting hammered on some stratum ports by some IPs sending junk.

[2017-11-27 08:38] Kukks opened #97 "Miner Stats not set"
Started getting this exception after I pulled latest( into my straks branch)

[code]

[2017-11-27 08:51] oliverw commented on #97
Fixed in latest commit. Sorry for the confusion.

[2017-11-27 11:39] #97 closed

[2017-11-27 11:39] #96 closed

[2017-11-27 12:33] Kukks opened #98 "Pool of Pools"
I saw a feature noted down in the ric-nomp roadmap stating this:
`
To reduce variance for pools just starting out which have little to no hashing power a feature is planned which will allow your own pool to connect upstream to a larger pool server. It will request work from the larger pool then redistribute the work to our own connected miners.`

Seems like a good feature to implement. What kind o

[2017-11-27 15:42] oliverw commented on #98
@Kukks I honestly have no idea. Could you provide a link?

[2017-11-27 16:04] Kukks commented on #98
https://github.com/vagabondan/ric-nomp

[2017-11-27 16:07] oliverw commented on #98
Well according to git blame that feature was added to the roadmap by the original authors of NOMP more than 4 years ago and never worked on. 😏

[2017-11-27 17:24] Kukks commented on #98
I can work on it if feasible. Any idea of how it could work?
I guess it would just funnel the work to the other pool and cut out the pool fee once it gets paid.

[2017-11-27 18:12] Serpent6877 opened #99 "Crash on start of latest build."
[2017-11-27 10:11:09.6201] [I] [etc1] [Pool] Launching ...
[2017-11-27 10:11:09.6563] [I] [etc1] [Ethereum Job Manager] Launching ...
[2017-11-27 10:11:09.8307] [I] [etc1] [Ethereum Job Manager] All daemons online
[2017-11-27 10:11:09.8521] [I] [etc1] [Ethereum Job Manager] All daemons synched with blockchain
[2017-11-27 10:11:10.0236] [I] [Dag] Generating DAG for epoch 164
[2017-11-27 10:11:10.02

[2017-11-27 18:23] oliverw commented on #99
Could you post your config?

[2017-11-27 18:25] Serpent6877 commented on #99
{
    "logging": {
        "level": "info",
        "enableConsoleLog": true,
        "enableConsoleColors": false,
        "logFile": "pool.log",
        "logBaseDirectory": "/opt/devpool/logs",
        "perPoolLogFile": false
    },
    "banning": {
        "manager": "integrated"
    },
    "notifications": {
        "enabled": false,
        "email": {
            "host": "smtp.example.com",

[2017-11-27 18:40] #99 closed

[2017-11-27 18:42] oliverw commented on #98
@Kukks I would like to postpone work on this as improving the API in order to make a capable web-frontend possible is now getting my attention.

[2017-11-27 18:43] #98 closed

[2017-11-27 19:02] rterbush commented on #98
@oliverw any hints or thoughts toward your direction with the API? I'm currently looking at this as well.

I've found a nice example in this, https://github.com/M5M400/poolui as it sits on top of this: https://github.com/Snipa22/nodejs-pool/blob/master/lib/api.js

[2017-11-27 19:04] oliverw commented on #98
@rterbush As much as I would love to make the API compatible with existing frontends, that probably won't happen due to time constraints. Developing this project, running poolmining.org and a day job is pretty taxing 😄

[2017-11-27 19:13] rterbush commented on #98
Understand completely. I'm slowly getting up to speed here so if you can give me a bit of direction, I will try to work within your design constraints and try to share the work load. That's how this works, yes? :-)

[2017-11-27 19:49] #46 closed

[2017-11-27 19:51] oliverw commented on #41
The hashrate values over 300M are not a bug. The values are simply represented in [scientific notation](https://www.calculatorsoup.com/calculators/math/scientific-notation-converter.php) which is perfectly legal in JSON and accepted by all compliant parsers.

[2017-11-27 19:51] #41 closed

[2017-11-28 08:01] Kukks commented on #98
@oliverw @rterbush I can open source my current repo once straks is integrated. It's an SPA and still basic and rough but it should be a good base. :)

[2017-11-28 13:57] rterbush commented on #98
Any chance of setting up a Gitter for the project? I have a lot to say about this topic and others but am sensitive about not junking up the issue list with this chatter.

[2017-11-28 18:18] Kukks commented on #98
@rterbush https://gitter.im/miningcore/Lobby
This ok?

[2017-11-29 21:05] #77 closed

[2017-11-30 17:24] Serpent6877 opened #101 "validSharesPerSecond: 0"
{
      "poolHashRate": 236446192.0,
      "connectedMiners": 2,
      "validSharesPerSecond": 0,
      "created": "2017-11-30T16:00:00"
    },
    {
      "poolHashRate": 178282912.0,
      "connectedMiners": 1,
      "validSharesPerSecond": 0,
      "created": "2017-11-30T17:00:00"
    }

Also, most other pools have a API option that shows each share for an address. I see them logged to the DB b

[2017-11-30 18:01] oliverw commented on #101
This is already tracked in #27 and actively being worked on. 😄

[2017-11-30 18:01] #101 closed

[2017-12-03 07:28] #58 closed

[2017-12-07 06:22] Serpent6877 opened #103 "Coinbase password in API?"
Why is the coinbase password in the API output under pools?

[2017-12-07 07:50] oliverw commented on #103
Oversight on my part. Thanks for reporting.

[2017-12-08 02:00] pfeiflelukas opened #105 "API Issues"
I was testing the server with multiple coins and while "IP:4000/api/pools" works and displays all coins. Any other api call such as "IP:4000/api/pool/coin/stats/hourly" doesn't work. It only returns the first coin listed in "IP:4000/api/pools".

Is this a bug or is this is what is going to be worked on/released later this year? I do remember @oliverw saying that the API was not complete at some po

[2017-12-09 15:50] #105 closed

[2017-12-10 01:58] Joykiller opened #106 "Question about adding new algo PHI1612 (LUX)"
Would someone spare the time to add support for a new specific coin that uses PHI1612 algo called LUX?

https://bitcointalk.org/index.php?topic=2254046.0

I'm probably too busy at the moment to look into how it all works for now, so would rather pay someone for their time in adding it. Just inquiring to see if anyone would be interested and what they think would be sufficient pay would be.

[2017-12-10 19:54] Konstantin35 commented on #106
I can add in the near future

[2017-12-11 16:42] SergeySypalo opened #107 "Coin support request: TOP 10 from WhatToMine"
Hello guys,

I have an idea/proposal for you to add new coins support based on WhatToMine stats.
For example use 1 as a quantity for each card type from older ones to latest, the click calculate.
Site will display you list of most profitable coint to mine.
If you support most profitable coins you will earn more money on the pool comission.
For now, these coins are missing:

Altcommunity(ALTCOM) -

[2017-12-11 20:20] calvintam236 commented on #107
Someone is working on Zencash support - https://github.com/coinfoundry/miningcore/pull/84
I don't know the rest, but look like they have to wait. We have several important items in the backlog.

[2017-12-12 10:00] Kukks commented on #88
@calvintam236  @oliverw  This task is done once my PR(#90 ) is merged.

[2017-12-12 11:30] jeong760 opened #109 "PayoutManager] [GLT] Payment processing failed"
Dears,

I have a following problem after an update a today release git source code.

[2017-12-12 20:25:44.7649] [E] [PayoutManager] [GLT] Payment processing failed System.NullReferenceException: Object reference not set to an instance of an object.
   at MiningCore.Blockchain.Bitcoin.BitcoinPayoutHandler.<ClassifyBlocksAsync>d__7.MoveNext() in D:\git\miningcore\src\MiningCore\Blockchain\Bitcoin\Bi

[2017-12-12 11:42] #109 closed

[2017-12-12 11:49] #88 closed

[2017-12-12 13:40] rvrsh3ll opened #110 "Waiting for daemons to come online ..."
[I] [xmr1] [Monero Job Manager] Waiting for daemons to come online ...

Is this because my blockchain is still syncing or is something misconfigured on my end?

[2017-12-12 13:43] oliverw commented on #110
Probably a configuration problem. The message would be different if the daemon would be still synching. You realize that you need two daemons? First one is monerod, the other one monero-wallet-rpc which needs to be configured to talk to the first one. See our example config.

[2017-12-12 13:53] rvrsh3ll commented on #110
I'm using the xmr config example. Just trying to figure out how to point the wallet at the first daemon

[2017-12-12 14:02] oliverw commented on #110
Well getting <code>monero-wallet-rpc</code> talking to <code>monerod</code> is not done inside the pool config but using the command line. You basically have to tell <code>monero-wallet-rpc</code> on which address and port it can talk to <code>monerod</code>'s RPC interface:

`monero-wallet-rpc --daemon-address 127.0.0.1:18081 --config-file /cluster/etc/monerowalletd1-rpc.conf
`

The first argumen

[2017-12-12 14:07] rvrsh3ll commented on #110
awesome. much appreciated

[2017-12-12 14:07] #110 closed

[2017-12-12 14:08] oliverw commented on #110
@rvrsh3ll You're welcome.

[2017-12-13 11:30] jeong760 opened #111 "Payment process problem."
Dears,

I have a payment process problem on GLT pool wallet to my private address. even It has a 1000 GLT on pool wallet but its show me following errors

[2017-12-13 20:24:45.3511] [I] [PayoutManager] Processing payments for pool GLT
[2017-12-13 20:24:45.3806] [I] [PayoutManager] Processing payments for pool GLT, block 265485
[2017-12-13 20:24:45.3953] [I] [PayoutManager] Processing payments for

[2017-12-13 11:41] oliverw commented on #111
Does 47f7ffb47b415bf4807a005e4f3c996b28b3763d make a difference?

[2017-12-13 13:51] jeong760 commented on #111
Dears,

The result is same as before. still, I have an error.

[2017-12-13 22:50:56.5796] [I] [GLT] [Bitcoin Payout Handler] Paying out 770.305 GLT to 2 addresses
[2017-12-13 22:50:56.6466] [E] [GLT] [Bitcoin Payout Handler] sendmany returned error: Account has insufficient funds code -6
[2017-12-13 22:50:56.6940] [I] [GLT] [Pool] Online
[2017-12-13 22:50:56.7038] [I] [GLT]

Regards
John Ahn

[2017-12-13 14:05] woblit opened #112 "Payout scheme - Solo / Entire block"
Thanks for a great product! And keep up the good work.

Just a small request (hopefully small). Is it possible to have a payout scheme that allows miners to accumulate shares (which are irrelevant other than  just showing that the client is mining). And the entire block reward, after pool fees and (if enabled) dev donation are sent to the block finder after confirmation?

If this is possible this

[2017-12-13 15:57] pfeiflelukas commented on #110
I am also having this issue connecting the monero daemons together. What is meant to be in this conf file?
--config-file /cluster/etc/monerowalletd1-rpc.conf

I start monerod with:
./monerod --rpc-login user:password --rpc-bind-port port_to_connect --rpc-bind-ip IP_address_of_daemon_VM --confirm-external-bind

In the configuration for miningcore i have the same configuration properties. I am just

[2017-12-14 09:59] Kukks opened #113 "Missing payments?"
I set up my pool with Straks and had my first few blocks but there is a discrepancy on the amount mined to what has been sent.
The Reward receipent also hasn't received anything from what I can tell.

You can see the stats here http://5.189.159.254/pools/straks1
Pool address: https://straks.info/address/SMZ19bB68FwgZoMhM534QsjZ7DT6oCv9ZN

[2017-12-14 14:05] jeong760 commented on #111
Dears

Today I update another patch from master git. but the problem is same.

17-12-14 23:04:19.8890] [I] [PayoutManager] Processing payments for pool GLT, block 265998
[2017-12-14 23:04:19.8890] [I] [PayoutManager] Processing payments for pool GLT, block 266008
[2017-12-14 23:04:19.9004] [I] [PayoutManager] Processing payments for pool GLT, block 266016
[2017-12-14 23:04:19.9004] [I] [PayoutMana

[2017-12-14 14:34] oliverw commented on #111
Could it be the case that the wallet has not enough confirmed balance? What do you get when running

`glt-cli getwalletinfo`

[2017-12-14 15:23] jeong760 commented on #111
Dears,

Here is the result and your commented command is **globaltoken-cli getwalletinfo**.
I think I have enough GLT for payment in pool wallet.
{
  "walletname": "wallet.dat",
  "walletversion": 139900,
  "balance": 68081.94378614,
  "unconfirmed_balance": 0.00000000,
  "immature_balance": 600.00171120,
  "txcount": 864,
  "keypoololdest": 1501847646,
  "keypoolsize": 1000,
  "keypoolsize_hd_int

[2017-12-14 15:25] oliverw commented on #111
@jeong760 I agree. Hmm ...

[2017-12-14 15:30] jeong760 commented on #111
Dears,

Let me check more on this it seems to be payment process bug...

Regards,
John Ahn

[2017-12-14 16:56] pfeiflelukas opened #114 "Notifications Via Email"
Hi All,

I see there is a notifications area in the configurations area and was confused what this actually does. Does this notify the pool admin when a daemon goes offline etc. Or does it notify the user if their miner connects or disconnects?

Thanks

[2017-12-14 18:29] 8bitidea commented on #49
sorry for this question ,
but i need help for this , i followed up this guild to build miningcore
first there is some syntax error but i figure it out  , that was hard :D
but now i am stuck with this
`[2017-12-14 10:17:34.8146] [I] [ShareRecorder] Online
[2017-12-14 10:17:34.9669] [I] [ApiServer] Launching ...
[2017-12-14 10:17:35.3326] [I] [ApiServer] Online @ 127.0.0.1:4000
[2017-12-14 10:17:35.

[2017-12-14 18:33] oliverw commented on #49
The exception means that the connection to the database failed.

[2017-12-14 19:28] 8bitidea commented on #49
I’m sorry to ask i know you have lot to do , but could you tell me how to solve what ? 😌

[2017-12-14 19:44] calvintam236 opened #115 "Customiziable webhook"
Since you added Slack notification, maybe you can modify it and allow admin to add callback URLs for the webhooks instead?

https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/Configuration/ClusterConfig.cs#L219

[2017-12-14 19:55] calvintam236 commented on #27
just an idea. I think miningcore has the wallet address validation included. any chance to include a regex in the API so the UI can use it directly?

[2017-12-15 00:02] pfeiflelukas opened #116 "API and Straks"
@oliverw Does Straks have an API yet? As soon as i added it to my test pool i can no longer get to any of the API requests. Or did the API for the pool change?

Thanks

[2017-12-15 04:11] calvintam236 commented on #27
Here is the summary for the API changes.

- per account payment history
- stored price of the coin while running? if so, providing it helps to make a profitability calculator
- the hourly networkHashRate is not available yet from the API (for the chart)
- list of miners
- auth for certain API methods
- total and per worker stats per minute (for chart) is necessary to have - API cannot provide anyt

[2017-12-15 04:19] #116 closed

[2017-12-15 04:39] pfeiflelukas opened #117 "Bitcoin Cash Incorrectly Supported"
@oliverw Bitcoin Cash has a symbol of BCH but is labelled as BCC

Thanks

[2017-12-15 08:03] Kukks opened #118 "API requests"
- A total count should be included in the paging to be able to create a pagination component on the frontend. This currently applies to payments and blocks.
- Filter payments by miner

Out of scope for this specific task but adding an alternative api to push changes to the frontend would also be nice. Signalr core is available for ASP.NET Core 2 and is usually dead-easy to use.

[2017-12-15 08:13] calvintam236 commented on #118
I'm closing this issue because this is for poolmining.org web front-end, and not a part of the MiningCore code. Please post this request at http://poolmining.userecho.com/.

[2017-12-15 08:47] calvintam236 commented on #49
@8bitidea are you sure your database is online?

[2017-12-15 08:49] Kukks commented on #118
No it's not. It's for the api-server inside miningcore.
https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/Api/ApiServer.cs

I have my own custom frontend that hooks to it so I'll probably add these two in at some point tomorrow. :)

[2017-12-15 09:06] Kukks commented on #118
@calvintam236  Can you re-open?

[2017-12-15 09:09] calvintam236 commented on #118
You'll have to wait for @oliverw since work on the first API issue #27 is not even started since October, and your second request is already listed in #27.

[2017-12-15 12:23] 8bitidea commented on #49
@oliverw @calvintam236  yes it was that database i connected it with wrong ip , and parity need to run manually ,i am running the parity on classic network and waiting it to finish sync and will connect the miners to test it out,  it was my mistake , sorry guys and thank you very much for this

[2017-12-15 12:26] oliverw commented on #49
@8bitidea No excuses needed. Everyone has to start somewhere :)

[2017-12-16 05:08] woblit opened #119 "Problem with some bitcoin based clients RPC integration"
I have enabled PPC (Peercoin) on Miningcore. However, MiningCore doesn't seem to be able to make use of the JSON-RPC server offered by the client. I am getting the following in my log:

[Bitcoin Job Manager] Waiting for daemons to come online ...

I have tested connection to the JSON-RPC server using CURL and this is all working correctly.

I have tried this with other Bitcoin based clients, like

[2017-12-16 11:03] calvintam236 commented on #110
@pfeiflelukas When you start `monerod`, you need to set `--rpc-login YOUR_USERNAME:YOUR_PASSWORD`, and you need them at `monero-wallet-rpc` for the wallet to access the daemon.

`Must specify --wallet-file or --generate-from-json or --wallet-dir` told you what to do at `monero-wallet-rpc`.

[2017-12-16 13:19] oliverw commented on #113
Could you elaborate a bit? I don't understand.

Currently, reward recipients are paid like a miner which means they are subject to the pool's minimum payout. I'm going to add an option to pay reward recipients immediately either within the coinbase tx or bypassing the pool minimum payout.

To verify your balance you could issue an API call to the pool:

`curl http://127.0.0.1:4000/api/pools/<pool>

[2017-12-16 13:46] oliverw commented on #119
Hmm. Could you post your daemon configuration and how you run it plus your pool config?

[2017-12-16 14:19] woblit commented on #119
The Peercoin.conf is as follows:

rpcuser=RPCUSER
rpcpassword=RPCPASS
rpcallowip=127.0.0.1
rpcallowip=OUTSIDE.SRV.IP.ADDRESS
rpcport=32200
rpcbind=MY.LOCAL.PUBLIC.IP
rpctimeout=60
server=1
gen=0
listen=1

And the pool config is:

    {
      "id": "ppc-sha256-1",
      "enabled": true,
      "coin": {
        "type": "PPC",
        "algorithm": "sha256d"
      },
      "address": "PPCADDY",

[2017-12-16 20:44] pfeiflelukas commented on #110
@calvintam236 Thanks i have the connection between the wallet and the daemon now. Just waiting for the blockchain to sync before i can test it with miningcore

[2017-12-16 23:23] seansch commented on #27
I'm not sure if by "list of miners" you meant this. But what I have been hoping for is on the "/api/pools/POOL/miner/WALLET/stats" response to return a list and count of the miners connected to that specific wallet/user.

[2017-12-16 23:27] calvintam236 commented on #27
@seansch A list of all miners (wallet addresses) on the particular pool.

[2017-12-16 23:29] seansch commented on #27
Would a list, or at least a count of the miners attached to specific wallet be out of the question? Being able to quickly see how many miners are running would be very helpful to the end user.

[2017-12-17 00:03] calvintam236 commented on #27
@seansch I think you are referring to list of workers. Worker is the name you named your miner program and report to the pool. It is different than miner.

[2017-12-17 03:11] LEVA1989 opened #120 "ETC Wallet not recognized as pool owned"
I created new ETC wallet from parity but I receive this error:

[2017-12-17 06:09] oliverw commented on #120
@LEVA1989 You need to add this to the command line when launching parity:

--author 0x0014b41633C0403ca2697248d51e73790f56c5E8

[2017-12-17 08:21] Kukks commented on #113
`The Reward receipent also hasn't received anything from what I can tell.`
Sorry about that part, I misunderstood how it worked. That part seems fine for now.

I do have 2 block rewards which were never distributed though. The first 2. Maybe I had a broken build or some bad configuration. I'll close this until it happens again.

[2017-12-17 08:21] #113 closed

[2017-12-17 19:19] LEVA1989 commented on #120
@oliverw
Thank you for reply.
I have author is config.toml file:
`[mining]
# Account address to receive reward when block is mined.
author = "0x0014b41633C0403ca2697248d51e73790f56c5E8"`

[2017-12-17 19:27] oliverw commented on #120
@LEVA1989 And it still does not work?

[2017-12-17 19:41] LEVA1989 commented on #120
@oliverw No, same error.
Wallet was created from browser by parity wallet creation wizard

[2017-12-17 19:48] oliverw commented on #120
@LEVA1989 The problem is that the daemon does not have the private keys to that address. Miningcore requests the list of addresses that parity controls using eth_accounts. If that list does not contain your address you get the error you've mentioned. The solution is to copy your export key file (UTC--XX ...) to /location/of/parity/keys/ethereum

[2017-12-17 20:08] LEVA1989 commented on #120
@oliverw I have key file inside /home/user/.local/share/io.parity.ethereum/keys/classic (it's ETC parity)

[2017-12-17 21:49] SergeySypalo opened #121 "Docker image - The file size of this virtual hard disk is not valid"
Hi there, trying to run MiningCore in Docker image using following command:

`docker run -d -p 3032:3032 -v C:\miningcore\:/config.json:ro coinfoundry/miningcore-docker`

but got this error: virtual hard disk is not valid. Full output:

`C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Error response from daemon: container fab6a114a9d047d32c664502c5b6f1dd11492ef97c35e80147f6747a8d71af93 en

[2017-12-17 21:57] SergeySypalo opened #122 "Running MiningCore on localhost, port isn't open"
Hi there, can't get MiningCore to work,
Compiled using Visual Studio 2017 Community (15.5)
Installed and configured Postgres
Specified valid miningcore user password in the config file
When run an engine using following command:
`dotnet MiningCore.dll -c config.json`
I'm not able to connect miner to port configured in config file, also when tried to telnet:
`telnet` localhost 3092
Got connection r

[2017-12-17 22:14] calvintam236 commented on #122
`Waiting for daemons to come online ..` suggests it cannot connect to coin daemon. Make sure you have it running.

[2017-12-17 23:21] SergeySypalo commented on #122
How to run coin daemon? I guessed it's running as part of MiningCore.

[2017-12-18 03:01] pfeiflelukas commented on #122
@SergeySypalo Each coin you use needs to have a daemon and in some cases a rpc-wallet

[2017-12-18 08:25] Konstantin35 commented on #122
Покажи файл конфигурации

[2017-12-18 12:02] SergeySypalo commented on #122
[code]

[2017-12-18 14:51] Konstantin35 commented on #122
Попробуй добавить параметр  `"listenAddress": "0.0.0.0", ип сервера`

[code]

[2017-12-18 18:31] LEVA1989 commented on #120
I tried to run Ropsten network too, receiving same error:

**miningcore** and **parity** are installed on different servers in local network.

[2017-12-18 19:31] woblit commented on #119
Right, I have gotten to the bottom of what the problem seems to be with some of these altcoin bitcoind based clients. They don't support the API method "getblockchaininfo".

Therefore, the pool server never makes these pools available.

Is there a way round this? Been thinking of writing a proxy in PHP that basically proxies everything, but if getblockchaininfo is requested, then it will try and "

[2017-12-18 19:41] oliverw commented on #119
@woblit Interesting find. Do they support an rpc method that could be substituted?

[2017-12-18 19:48] woblit commented on #119
Seemingly not. Have taken a look and nothing else quite provides the info needed. Seems like "Getblockchaininfo" might have been a later edition to the bitcoind API arsenal. Does the pool server need all the info provided by Getblockchaininfo? What is essential?

[2017-12-18 19:58] oliverw commented on #119
@woblit Essential fortunately nothing. Let me point you to the use cases for getblockchaininfo:

1. [Here](https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/Blockchain/Bitcoin/BitcoinJobManager.cs#L140) it is used to log the daemon's blockchain sync progress in case the daemon is not fully synched
2. [Here](https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/Blo

[2017-12-18 21:56] LEVA1989 opened #124 "Bug in API responce"
I was debugging API response parsing issue from PHP and found that API response has one additional symbol at the beginning "Zero Width No-Break Space U+FEFF" and PHP json_decode can't parse it.

[2017-12-19 06:14] calvintam236 commented on #121
Can you try to run `hello-world` image?

[2017-12-19 17:35] pfeiflelukas commented on #113
@Kukks How long did it take to find your first block? I havent found one yet and i have been mining for 12 hours with about 300Mh/s

[2017-12-19 17:42] Kukks commented on #113
@pfeiflelukas Add me on discord User is Kukks

[2017-12-19 17:49] pfeiflelukas commented on #113
@Kukks The last digest? Wont let me add it just as Kukks

[2017-12-19 17:52] Kukks commented on #113
@pfeiflelukas  https://discordapp.com/invite/PM9j5XQ

[2017-12-19 19:48] arubinofaux commented on #117
@pfeiflelukas just did a pull request #127 to correct that

[2017-12-19 21:14] LEVA1989 commented on #120
@oliverw Can you advice how to debug this issue?

[2017-12-19 21:47] LEVA1989 commented on #120
I sent RPC request from terminal and returned coinbase address is correct.

`curl -X POST --data '{"jsonrpc":"2.0","method":"eth_coinbase","params":[],"id":64}' -H 'Content-Type: application/json' http://10.0.0.2:8545/
{"jsonrpc":"2.0","result":"0x0036356a34c39044d7f9c02b421d6f267fbe8094","id":64}`

[2017-12-19 22:27] 8bitidea opened #128 "How can i run two PARITY at the same time on same machine"
https://github.com/coinfoundry/miningcore/wiki/Coin-Daemon-&-Wallet-RPC

Here you have wirte the configuration of parity ? But how can i run more parity on one machine ?

[2017-12-19 23:25] SergeySypalo commented on #121
Yes, it's one working fine

[2017-12-20 02:43] pfeiflelukas opened #129 "API looks like it doesn't update pending balance"
@oliverw I have mined 3 blocks using straks and 1 has been confirmed and the other two are pending yet the miners API states that pending balance is still 0.

The API for blocks also states that the block which is confirmed is still pending, as well as the confirmation progress stuck on 0.

Thanks

[2017-12-20 03:13] pfeiflelukas commented on #129
Actually it looks like these things only update when a payment is processed

[2017-12-20 03:13] #129 closed

[2017-12-20 03:14] pfeiflelukas commented on #117
@arubinofaux Thanks

[2017-12-20 12:07] Kukks commented on #6
How would this work? :) Currently, the only worthwhile mining with AMD cards is through the mkxminer. Version 2.01 only allows tls connections(after you circumvent the pool whitelist).

[2017-12-20 12:09] Kukks opened #130 "Introduce Migration scripts and versioning"
I noticed in the last PR, there was a schema change where some columns changed from a type to another. While this scenario wasn't breaking in itself, it has made older running implementations different.
You should introduce tags for breaking changes on master. And a migration sql script to each new version.

[2017-12-20 12:33] Kukks commented on #92
Should it just be a manual addition or make the miningcore instance itself publish to a central site

[2017-12-20 21:25] calvintam236 commented on #128
@8bitidea If you want to run more than one `parity` instance not in a container (e.g. Docker), replace `--no-ipc` for `--ipc-path "/data/<unique-name>.ipc"`.

[2017-12-20 21:25] #128 closed

[2017-12-20 21:27] calvintam236 commented on #130
@oliverw I think we should do this.

[2017-12-21 07:39] Kukks opened #131 "Redundant Masternode object?"
In the Dash and Straks Block Template response, I can see that there is a Masternode object. After inspecting both Straks and Dash's `getblocktemplate` result, this object just does not exist. The `Payee` and `PayeeAmount` on the root seems to handle masternode payments.

[2017-12-21 23:14] SergeySypalo commented on #122
Поставил ZCash4Win, он вроде нормально отсинхронизировал блокчейн, теперь не может запуститься, выдает daemon ... take longer than expected to start
Решил попробовать с Монеро, скачал, поставил и отсинхронизировал их кошелек, взял пример конфигурации для монеро, вписал туда свой кошелек локальный который у меня сгенерировался, подправил пароль от пользователя Postgres, в listen address вписал 127.

[2017-12-24 00:13] calvintam236 opened #132 "Electroneum support"
It seems it is using Monero codebase (looks like a Monero clone), so it should be easily implemented.

https://github.com/electroneum/electroneum

[2017-12-24 13:39] Konstantin35 commented on #132
I added it to my pool but I could not find the unit to fully test

[2017-12-27 22:13] pfeiflelukas opened #133 "Parity configuration"
Hi all,

I see the configuration described here:

$ parity --chain mainnet --base-path <data-folder-path> --mode active --no-ui --no-dapps --no-ipc --jsonrpc-interface "0.0.0.0" --jsonrpc-threads 4 --jsonrpc-port 8545 --no-discovery --jsonrpc-apis "eth,net,web3,personal,parity,parity_pubsub,rpc" --author <your-wallet-address> --cache-size 512 --logging info --ws-port 8546 --ws-interface all

But w

[2017-12-28 09:55] Konstantin35 commented on #133
`parity --author 0xc13122b00000000000000000000 --chain "ellaism.json" --extra-data 2zo.pw --usd-per-tx 0 --no-dapps --no-ui --no-ws --jsonrpc-hosts all --rpcaddr=192.168.100.1 --jsonrpc-port 3213 --unlock 0xc13122b00000000000000000000 --password "password.txt"`

[2017-12-28 12:14] pfeiflelukas commented on #133
@Konstantin35 Thanks for the configuration. I assume that uses the Ellaism coin though. Would i just swap
--chain "ellaism.json" with --chain "ethereum.json" or leave it as --chain mainnet as described above?

thanks

[2017-12-28 12:19] Konstantin35 commented on #133
I just showed an example consider a sequence of parameters and file paths

[2017-12-28 12:23] pfeiflelukas commented on #133
ok no worries i will give it a try

[2017-12-28 12:23] #133 closed

[2017-12-28 14:32] pfeiflelukas opened #134 "Add support for more coins"
Can these coins be included in the pool?

- XMCC
- ARC
- ENT
- CHC
- XCXT

Thanks

[2017-12-28 15:48] Konstantin35 commented on #134
Will be a excitement with the launch of Segwit2x and I will try to add and test these coins

[2017-12-29 07:57] Kukks commented on #134
@Konstantin35 The segwit2x fork is a scam; it has nothing to do with the official segwit2x team and is just another cash grab.

[2017-12-29 08:51] Konstantin35 commented on #134
Yes, I know a few scammers from Ukraine

[2017-12-29 10:37] oliverw commented on #130
See: https://github.com/coinfoundry/miningcore/releases/tag/0.11

[2017-12-29 10:37] #130 closed

[2017-12-31 03:33] pfeiflelukas opened #136 "Monero Daemon and RPC Wallet"
Hi all

I have been struggling with connecting the monero daemon and wallet to the miningcore server.

My daemon configuration is:
[code]

My wallet rpc configuration is:
[code]

An lastly my miningcore configuration is:
[code]

Thanks

[2017-12-31 10:21] oliverw commented on #136
Keep in mind that the Wallet RPC Server will start no sooner than the main daemon is fully synchronized. In case of the main chain that may take a long time.

[2017-12-31 10:22] oliverw commented on #132
Fixed by https://github.com/coinfoundry/miningcore/commit/c990ebed9fd51c5b00b1c52ef7aa14c71014b5c5

[2017-12-31 10:22] #132 closed

[2017-12-31 10:22] oliverw commented on #117
Fixed by #https://github.com/coinfoundry/miningcore/commit/892b1bbcf147580c95684de875a08ff8c6a9f098

[2017-12-31 10:22] #117 closed

[2017-12-31 11:32] oliverw commented on #131
I agree it appears to be a remnant of the past. Probably of an earlier version of the consensus rules but I'd rather keep it to be safe.

[2017-12-31 11:32] #131 closed

[2017-12-31 11:32] oliverw commented on #112
Will be implemented soon.

[2017-12-31 20:42] mario1987 opened #137 "Does this software support coins of the same algo"
Hi,

As the topic suggest does this software support other coins that have the same also as dash ??
Or does it only support the coin itself?

[2018-01-01 00:23] pfeiflelukas commented on #136
@oliverw I have checked and the daemon is fully synchronised. i am just not getting the connection to the stratum server

[2018-01-01 01:10] pfeiflelukas commented on #136
The output from the monero wallet rpc is:
2018-01-01 01:05:04.205     7fccfac50100        WARN    wallet.wallet2  src/wallet/wallet2.cpp:2505     Loaded wallet keys file, with public address: 47TJ85Wy933cTGZYdbkwVog7mmMz3hXgNHYUHUdZzLauCENytpZxRwnbuPAyMZZbm9U7Foh5r112P1T9EQyrA3q6EupbNFG

and the daemon says:
Synced 1477233/1477233
2018-01-01 01:04:08.105 [P2P9]  INFO    global  src/cryptonote_prot

[2018-01-01 01:55] pfeiflelukas commented on #136
Hi all,

all my connection issues were solved by deleting this file:
-wallet-rpc.18082.login

it seems that it holds the previous rpc connection

[2018-01-01 03:29] pfeiflelukas commented on #136
I do now get this error once the stratum server starts.

2018-01-01 03:23:50.732 [RPC0]  ERROR   wallet.wallet2  src/wallet/wallet2.cpp:4382     dsts.empty(). THROW EXCEPTION: error::zero_destinati
on

[2018-01-01 10:36] Kukks commented on #137
@mario1987 With a few code changes, you can add it in if it's identical in function to the DASH consesus.

[2018-01-01 10:39] pfeiflelukas opened #141 "Mining Pool Test"
Hi all,

Just started a full scale test of my pool :) Any help getting it up and running will be awesome!
www.cryptocentralized.com

Big thanks to @oliverw and @calvintam236 Rewards coming your way :)

[2018-01-01 10:43] oliverw commented on #141
@pfeiflelukas Good job on the pool and a happy new year to you and all contributors. 😄

[2018-01-01 16:17] oliverw commented on #136
@pfeiflelukas Could you post a longer snipped from the last couple dozen lines logged by monero-wallet-rpc?

[2018-01-02 01:09] pfeiflelukas commented on #136
@oliverw This is the out put from the daemon:

2018-01-01 23:45:27.473     7f81f6fcbf40        INFO    global  src/daemon/main.cpp:279 Monero 'Helium Hydra' (v0.11.1.0-release)
2018-01-01 23:45:27.473     7f81f6fcbf40        INFO    global  src/daemon/protocol.h:55        Initializing cryptonote protocol...
2018-01-01 23:45:27.474     7f81f6fcbf40        INFO    global  src/daemon/protocol.h:60

[2018-01-02 13:24] oliverw commented on #137
@mario1987 The X11 PoW algorithm used by Dash is supported of course. Additionally we support Dash's special blocktemplate. There's no general answer to the question if a particular coin can be supported. What coin are you referring to?

[2018-01-02 13:28] oliverw commented on #136
@pfeiflelukas I have the same errors in the log, yet everything runs fine. Are you sure there's actually a proplem?

[2018-01-02 13:29] oliverw commented on #134
@Konstantin35 Could you please provide some basic information about those coins?

- Coin Family (Bitcoin, Monero, Ethereum etc) - if known
- Proof of work algo - if known
- Github Repo
- Website

[2018-01-02 13:33] #124 closed

[2018-01-02 14:10] pfeiflelukas commented on #136
@oliverw Now i think it may be working. i have started a miner and its been going a while with no issues.

[2018-01-02 14:11] oliverw commented on #136
@pfeiflelukas Good to hear :)

[2018-01-02 21:17] 8bitidea commented on #137
@mario1987 i am sorry to interrupt this , but i have the same question in deferent coin , @oliverw the [pirl](https://pirl.io/)  coin uses dagger algorithm can the mining core run the pool for it like eth ?

[2018-01-03 09:34] coreinfo77 opened #146 "testing pool..dev 145 pull.. and error ethereum pool"
ubuntu 16.04 4.4.0-104-generic

[2018-01-03 18:31:50.1722] [E] [StatsRecorder] System.NullReferenceException: Object reference not set to an instance of an object.
   at MiningCore.Mining.StatsRecorder.UpdateHashrates() in /home/ubuntu/miningcore/src/MiningCore/Mining/StatsRecorder.cs:line 164
   at MiningCore.Mining.StatsRecorder.<<Start>b__17_0>d.MoveNext() in /home/ubuntu/miningcore/src/MiningC

[2018-01-03 09:40] oliverw commented on #146
Could you post the contents of line /home/ubuntu/miningcore/src/MiningCore/Mining/StatsRecorder.cs:line 164

[2018-01-03 09:45] coreinfo77 commented on #146
163                 // update^M
164                 pool.PoolStats.ConnectedMiners = byMiner.Length;^M
165                 pool.PoolStats.PoolHashRate = poolHashrate;^M
166                 pool.PoolStats.ValidSharesPerSecond = (int) (poolHashesCountAccumulated / windowActual);^M
167 ^M

[2018-01-03 10:01] oliverw commented on #146
Fixed by #7a808d6ce643e4d46184e534d050d5703b4442df

[2018-01-03 10:01] #146 closed

[2018-01-03 10:35] oliverw commented on #137
@8bitidea My previous comment applies to your question as well.

[2018-01-03 11:28] coreinfo77 opened #147 "API miner stats HTTP ERROR 500"
An error occurs after  Dev (#135)

/api/pools   >> ok.,
/api/pool/<poolid>/stats/hourly   >> ok.,
/api/pool/<poolid>/miner/<miner-wallet-address>/stats  >> HTTP ERROR 500
/api/pool/<poolid>/blocks   >> ok.,
/api/pool/<poolid>/payments   >> ok.,

only mininer stats error

[2018-01-03 11:34] oliverw commented on #147
The api urls have been consolidated to all start with /api/pools to bring them in line with REST semantics.

[2018-01-03 11:34] #147 closed

[2018-01-03 11:37] 8bitidea commented on #137
@oliverw i have putted the url of the official web site of the coin in my previous comment and the git repo : https://github.com/pirl/pirl

[2018-01-03 11:42] coreinfo77 opened #148 "Again question API miner stats HTTP ERROR 500"
An error occurs after Dev (#135)

/api/pools >> ok.,
/api/pools/poolid/stats/hourly >> ok.,
/api/pools/poolid/miner/<wallet>/stats >> HTTP ERROR 500
/api/pools/poolid/blocks >> ok.,
/api/pools/poolid/payments >> ok.,

only mininer stats error

ask...
The api urls have been consolidated to all start with /api/pools to bring them in line with REST semantics.
-----------------------------------------

[2018-01-03 12:31] pfeiflelukas commented on #136
@oliverw Again cannot get a miner connecting and accepting shares. No matter what mining program to use it does not connect or just hashes away with no shares being sent.

[2018-01-03 12:34] oliverw commented on #136
@pfeiflelukas Could you post the pool's log output?

[2018-01-03 12:43] pfeiflelukas commented on #136
@oliverw There isn't anything there, no signs of connections and no errors. It seems to connect to the daemon and wallet but no miner can connect to the stratum service

[2018-01-03 12:50] oliverw commented on #136
I meant the output when the pool is started until the first miner connects. The whole enchilada. And please also set the log level to "Trace".

[2018-01-03 12:59] pfeiflelukas commented on #136
@oliverw

Using configuration file conf.json
[2018-01-03 12:57:17.3164] [I] [ShareRecorder] Online
[2018-01-03 12:57:17.3649] [I] [ApiServer] Launching ...
[2018-01-03 12:57:17.5681] [I] [ApiServer] Online @ 0.0.0.0:4000
[2018-01-03 12:57:17.5750] [I] [PayoutManager] Online
[2018-01-03 12:57:17.5902] [I] [PayoutManager] Processing payments for pool dash
[2018-01-03 12:57:17.5902] [I] [StatsRecorde

[2018-01-03 13:10] oliverw commented on #136
@pfeiflelukas I strongly suspect a firewall issue. I bet that you an XMRig Miner connecting to localhost:15010 can connect and mine.

[2018-01-03 13:22] pfeiflelukas commented on #136
@oliverw Ok will check again but i believe i already have

[2018-01-03 13:33] pfeiflelukas commented on #136
@oliverw I dont think it is a firewall issue. At least definitely not on the server. Can someone do a big favour and see if they can connect :)

  One miner actually gave me an error of "unknown stratum packet"

[2018-01-03 14:24] rterbush commented on #136
@pfeiflelukas could you show output from `netstat -an` on the host where the monero wallet should be running? Really only need the TCP output from the top.

[2018-01-03 14:35] pfeiflelukas opened #149 "Addition of UBIQ"
I think this would be a good edition.

[2018-01-03 14:36] pfeiflelukas commented on #136
@rterbush here it is:
Active Internet connections (servers and established)
Proto Recv-Q Send-Q Local Address           Foreign Address         State
tcp        0      0 0.0.0.0:18080           0.0.0.0:*               LISTEN
tcp        0      0 0.0.0.0:18081           0.0.0.0:*               LISTEN
tcp        0      0 0.0.0.0:18082           0.0.0.0:*               LISTEN
tcp        0      0 0.0.0

[2018-01-03 16:16] rterbush commented on #136
@pfeiflelukas the above looks fine. I have attempted to connect remotely with nc and find that the server response is VERY slow... not sure if that could be causing the varied behavior.

Is there a serious load on this server, or out of memory?

[2018-01-03 16:22] Kukks commented on #148
Works fine for me
http://5.189.159.254:4000/api/pools/straks1/miner/SP5BMTez7GyCzn1AmtdkpkwrsNJsnqukf8/stats

[2018-01-03 16:27] Kukks opened #150 "Other pools get way more blocks. Configuration issue for shares?"
Comparing my lyra2rev2 pool to other pools(yiimp based), they seem to get more blocks for the same ratio of hashrate. Is there some configuration I should be adjusting?

Pool is reporting the following:
[code]
block explorer for straks: https://straks.info
current difficulty around 3000-4000
my config:
[code]

https://mpool.mooo.com/site/mining
https://datapaw.net/site/mining
https://www.cryptopoo

[2018-01-03 18:40] shwuhk opened #151 "New block notify by connecting to daemons as peer rather than block template polling"
Mining core discover new block mined via polling, however, this method has delay(polling interval(. Will you consider to connect to daemons as peer and let daemons to notify a new block is mined. The same feature is implemented in https://github.com/zone117x/node-stratum-pool/blob/master/lib/peer.js
Thanks.

[2018-01-03 21:03] oliverw commented on #151
Planned already.

[2018-01-03 21:11] oliverw commented on #150
We need to get to the bottom of this. Could it be VarDiff related? Did you try connecting a miner to your own pool and compare the difficulty assigned to the difficulty when mining on the other pools you've mentioned?

[2018-01-03 21:23] linuxdr0 opened #152 "Need help getting BTC pool going"
I see communication to BTC daemon but when a client connects, the client gets error of no work.  In debug log of pool, I get:
[2018-01-03 15:57:06.1695] [D] [dancadetech] [Pool] Accepting connection [0HLAITI643V0V] from 97.78.135.114:50774
[2018-01-03 15:57:06.2425] [D] [dancadetech] [Pool] [0HLAITI643V0V] Dispatching request 'mining.subscribe' [0]
[2018-01-03 15:57:06.3126] [D] [dancadetech] [Poo

[2018-01-04 00:17] pfeiflelukas commented on #136
@rterbush Here is the strain of both the server and the monero VM. Both also have a page file of 2GB.
Stratum server:
- CPU Load: ~10%
- RAM usage: ~ 350MB of 585MB

Monero Daemon:
- CPU Load: ~25%
- RAM usage: ~ 300MB of 585MB

[2018-01-04 04:31] coreinfo77 commented on #148
ethereum Works stats
http error 500 error

[2018-01-04 07:19] Kukks commented on #150
I'll try and test tonight and see if I can find a difference.  I did switch the config of variancePercent to 90 from 30 and am seeing a little better performance but that's only speculation. The block time on straks is 60 seconds, could that affect anything?

I just noticed my networks stats of the pool reporting this:
[code]
The block height seems to be stuck. This is probably another separate is

[2018-01-04 08:07] Kukks commented on #151
Really cool stuff!

[2018-01-04 08:49] oliverw commented on #150
@Kukks Could you try this and report back?

[code]

[2018-01-04 09:35] Kukks commented on #150
Just applied it now to the pool. Current block only updated on restart.

[2018-01-04 12:41] oliverw commented on #150
@Kukks The config changes were related to the block finding frequency. Could you try it? The stuck block height is a bug.

[2018-01-04 12:45] Kukks commented on #150
Pool has been running on these settings since you posted.  3 blocks since then.  Network hash is at 106gh/s and I only have ~2 so will see.

[2018-01-04 13:06] oliverw commented on #150
@Kukks Is that an improvement?

[2018-01-04 13:33] Kukks commented on #150
I'll give it till end of day to compare to yesterday. But it seems to be
doing better than yesterday

On Thu, Jan 4, 2018 at 2:06 PM, Oliver Weichhold <notifications@github.com>
wrote:

[2018-01-04 13:39] oliverw commented on #150
Ok, please keep me posted. I take this very seriously.

[2018-01-04 13:44] Kukks commented on #150
Will do. I do think adjusting the vardiff did a big difference though.

On Thu, Jan 4, 2018 at 2:39 PM, Oliver Weichhold <notifications@github.com>
wrote:

[2018-01-04 22:50] Kukks commented on #150
@oliverw Spoke too soon. No blocks found since 13:25 :(

[2018-01-05 01:26] StarbuckBG opened #153 "Hashrate history for a miner"
Hello!

I have been reviewing and running the code. Great work!
Isn't it possible to add hashrate history for a mining address for the separate mining rigs - https://github.com/coinfoundry/miningcore/blob/44bc44fcd44184822cf98b1f6d89339f1dac15e4/src/MiningCore/Persistence/Postgres/Repositories/StatsRepository.cs#L137

That will bring a lot of load on the DB server, but will provide a lot more info

[2018-01-05 01:29] calvintam236 commented on #153
This is requested in #27 already.

[2018-01-05 01:30] StarbuckBG commented on #153
Nice. I will just add my comments there and close this.

[2018-01-05 01:30] #153 closed

[2018-01-05 01:32] StarbuckBG commented on #27
Adding detailed hashrate info for each worker  will bring a lot of load on the DB server, hence I'm having 2 suggestions:
- It is possible to use Redis to collect data about the momentary hashrate. It will be faster for fetching..
- Other approach is just to do clean up of older than 1 day entries every few hours. However this solution is not scalable.

[2018-01-05 06:49] Kukks commented on #150
@oliverw So it's been with no blocks for almost 18 hours now. My miners have fled like there was a plague. :(

[2018-01-05 07:53] oliverw commented on #150
I know that feeling all too well ;(

Lower <code>jobRebroadcastTimeout</code> to 3

[2018-01-05 08:00] Kukks commented on #150
Done.

On Fri, Jan 5, 2018 at 8:53 AM, Oliver Weichhold <notifications@github.com>
wrote:

[2018-01-05 08:11] oliverw commented on #27
@StarbuckBG Hashrate info by worker is actually pretty easy to implement without causing too much load on the DB by using a <code>group by<code> clause with an appropriate index and time window.  It's already implemented:

https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/Persistence/Postgres/Repositories/ShareRepository.cs#L139

https://github.com/coinfoundry/miningcore/blob/ma

[2018-01-05 08:13] Kukks commented on #150
@oliverw I've noticed that there are only 2 other pools left and they seem to have ~60gh/s and ~40gh/s in a ~100gh/s network hashrate. Could it simply be because of this?

[2018-01-05 08:14] oliverw commented on #150
There's always a problem with hashrate monopolies (or duopolies) like this, yes.

[2018-01-05 08:28] StarbuckBG commented on #27
Nice!

I will check how it performs and add to API.

Thanks for the response!

[2018-01-05 11:24] Serpent6877 commented on #148
Ya it's broken on latest:
`[2018-01-05 03:21:49.3293] [E] [ApiServer] Npgsql.PostgresException (0x80004005): 42P01: relation "minerstats" does not exist
   at Npgsql.NpgsqlConnector.<DoReadMessage>d__148.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Runtime.CompilerServices.T

[2018-01-05 11:25] Serpent6877 commented on #148
Also note that you should remove /stats requirement at the end. And also note that the API help apge says /api/pool instead of /api/pools

[2018-01-05 11:28] Kukks commented on #148
You need to run the update script from the release here: https://github.com/coinfoundry/miningcore/releases
[code]

[2018-01-05 11:32] Serpent6877 commented on #148
Ya I realized the problem right after I posted. Thanks.

[2018-01-05 11:38] Serpent6877 opened #154 "Note: Expanse byzantine not currently supported by Parity."
Might want to set expanse as currently not supported. I had a buddy mine 15k blocks after the fork before we realized it was mining the old fork. So hopefully someone wants to make a Expanse Classic.

[2018-01-05 12:53] oliverw commented on #154
Monitoring https://github.com/paritytech/parity/issues/7061

[2018-01-05 13:14] oliverw commented on #150
You could also try running the latest dev branch commit which contains some network low-level optimizations.

[2018-01-05 13:53] Kukks commented on #148
@Serpent6877 I think the stats suffix to the url is good. The miners endpoint could possibly be expanded later on ;).

[2018-01-05 14:19] coreinfo77 opened #155 "Use Nicehash setting?"
Are there any settings for using Nicehash?

My order Ends with an unstable hash rate.

[2018-01-05 14:31] shtse8 commented on #155
You should set the min diff for nicehash.

[2018-01-05 15:38] coreinfo77 commented on #155
"3073": {
                "listenAddress": "0.0.0.0",
                "difficulty": 0.9,
                "varDiff": {
                    "minDiff": 0.9,
                    "maxDiff": null,
                    "targetTime": 15,
                    "retargetTime": 90,
                    "variancePercent": 30
                 }
            }

nicehash not working.. my order dead...

[2018-01-05 15:39] oliverw commented on #155
Not sure what they changed but I couldn't get a single algorithm work with poolmining.org after they re-launched. Used to work fine - except for Ethereum.

[2018-01-05 15:41] coreinfo77 commented on #155
Thank you for answer.

[2018-01-05 15:41] #155 closed

[2018-01-05 15:42] coreinfo77 commented on #148
Thank you for answer.

[2018-01-05 15:42] #148 closed

[2018-01-05 16:01] linuxdr0 commented on #152
I think I have it figured out now.

[2018-01-05 16:01] #152 closed

[2018-01-05 16:02] oliverw commented on #152
What was the problem?

[2018-01-05 16:46] linuxdr0 commented on #152
Difficulty needed to be adjusted for Bitcoin difficulties and username for worker needed to be wallet address.

[2018-01-06 17:32] Konstantin35 opened #156 "I should add, Network Hashrate"
I should add, Network Hashrate at ` eth, etc, exp, ella`
Network Difficulty / Block Target Time
Parity Supports Musicoin (`MUSIC`) also you can add
https://coinmarketcap.com/currencies/musicoin/

[2018-01-07 01:02] StarbuckBG commented on #155
<img width="1131" alt="screen shot 2018-01-07 at 2 59 53" src="https://user-images.githubusercontent.com/3859373/34645475-0900f9d2-f357-11e7-92c8-0a28d25332ae.png">
I think that Nicehash are enforcing tcp connections now. I cannot find if that is implemented or not. Thanks!

[2018-01-07 01:22] StarbuckBG commented on #150
Sorry for messing up here. Z-Nomp (node-stratum-pool) seem to suffer from the same problems in Bitcoin Gold. I have been digging a lot into this and:
- vardiff should not be a problem. When a share has difficulty lower than the required to create a block, it is a block candidate. Then it is validated by the daemon and beamed.
- if block refresh interval is really low it can make the daemon struggl

[2018-01-07 01:28] Konstantin35 commented on #155
`Pool user:` should be the appropriate purse

[2018-01-07 08:43] oliverw commented on #155
@StarbuckBG But the stratum has always been tcp based. What do you mean?

[2018-01-07 08:44] oliverw commented on #150
@StarbuckBG Are you referring to your z-node-stratum-pool derivate created for BTG?

[2018-01-07 08:55] StarbuckBG commented on #150
Yes:
https://github.com/poolgold/z-nomp-bitcoin-gold
https://github.com/StarbuckBG/node-stratum-pool

[2018-01-07 08:56] StarbuckBG commented on #150
Initially we thought that it is a Redis issue, as Redis is single thread and in the way znomp is made it is really easy to fill it with data and it has major issues on the fetches. Hence we have made changes and it didn't improved. Rest of info is provided above.

[2018-01-07 08:58] oliverw commented on #150
Well, Miningcore is heavily multi-threaded I would be surprise if its a performance issue.

[2018-01-07 09:00] StarbuckBG commented on #150
The devs of pool.gold will migrate to it over the next week. Please check your gitter I have dropped some messages. I can give you some access so we can debug and improve under heavy load.

[2018-01-07 09:04] StarbuckBG commented on #155
Nevermind. There is an address validation. My fault.

[2018-01-07 09:05] oliverw commented on #150
@StarbuckBG They will migrate to what?

[2018-01-07 09:07] StarbuckBG commented on #150
To Miningcore (:

[2018-01-07 09:10] oliverw commented on #150
@StarbuckBG Will do. One question though. I thought pretty much all pools are running https://github.com/StarbuckBG/node-stratum-pool and pool.gold is the biggest BTG pool. How can they have an issue with found blocks? And even if they do wouldn't everyone else have the same problem?

[2018-01-07 09:19] StarbuckBG commented on #150
On average pool has about 12% lower luck than the one supposed to have (based on 1 month calculations). All the z-nomp based pools are having that problem. There is a chat for investigating this problem in the BTG Slack with all the pool operators. It would be helpful if you join as well. And pool.gold is the 3rd largest BTG pool. First and second are respectively supernova and miningpoolhub. Both

[2018-01-07 09:44] oliverw commented on #150
@StarbuckBG Send me a slack invite.

[2018-01-07 09:47] StarbuckBG commented on #150
Please check here -
https://join.slack.com/t/bitcoin-gold/shared_invite/enQtMjY1MzkzMzUxNjY4LWM1YmQ4MjZhZTQxMWE1ZDQyNjA4N2QwZTkyZjYzMjhiMzdlMmVkNjQ3NzZlZDdmMDE4NWIyY2JmYzdjYmE2MzA

I’m there as @Martin, and I have a status “Out Sick”. There are impersonators, so beware.

Thanks for all the help.

Sent from my iPhone 7 plus

[2018-01-07 10:01] oliverw commented on #150
Signed in to slack as CoinFoundry

[2018-01-07 10:03] StarbuckBG commented on #150
Messaged there.

Sent from my iPhone 7 plus

[2018-01-08 05:51] gblass opened #158 "how to launch Pool om Ubuntu 16"
I went through all the steps and compile/build the miningcore, the db is built, and dotnet is installed.
I do not  see a miningcore.dll anywhere?  Please help, I know this sounds dumb, but im lost.

[2018-01-08 06:23] calvintam236 commented on #156
Please split coin support to another issue. I'm closing this since `networkHashRate` is available in the API: https://github.com/coinfoundry/miningcore/wiki/API#api-pools

[2018-01-08 06:23] #156 closed

[2018-01-08 07:31] bjorntheart commented on #158
Let's say you clone the repo in /home/ubuntu/miningcore and the build was successful. You should see a directory named `/build`. The MiningCore.dll is in this directory.
You should be able to confirm that with this command, `ls -l build/ | grep MiningCore.dll`, and see the following output
`-rw-rw-r--  1 ubuntu ubuntu  580096 Jan  4 14:50 MiningCore.dll`

[2018-01-08 17:12] gblass commented on #158
thanks

[2018-01-08 17:12] #158 closed

[2018-01-08 17:13] gblass opened #159 "MoonCoin"
Would like to add MoonCoin.  I have successfully run MoonCoin on Rav3n P2Pool and UNOMP.  I would love to run it on this site.

[2018-01-08 20:37] OmarWazzan opened #160 "Errors when trying to run."
Hello, I'm trying to start miningcore, but it spits out this error:

Any ideas?

Thanks!

[2018-01-09 21:19] Kukks commented on #160
Your configuration seems to be invalid. Can you check if your json is correct. try pasting it in here: https://jsonlint.com

[2018-01-10 07:58] calvintam236 commented on #154
@oliverw looks like parity fixed it?

[2018-01-10 08:25] Kukks opened #162 "Pool detail API missing network and pool stats"
The single pool api endpoint is missing networkStats and poolStats. It's also not documented in the wiki.
`http://5.189.159.254:4000/api/pools/straks1`

[2018-01-10 08:31] Kukks opened #163 "Include versioning awareness in the db and code"
While the releases with the notes and migration script are a great step, we should add in a a table that holds the current version of the miningcore db that the application can check before it starts and notify you easily. Perhaps even run the migration scripts for you in order.

[2018-01-10 08:38] bjorntheart commented on #163
After reading the latest release notes I was missing this as well. Especially the database migrations.
I am not a Dotnet developer(mostly Python) so I am not too familiar with the Dotnet toolsets out there.
A quick Google search lead me to https://dbup.github.io for database migrations. Unfortunately, I cannot access the docs. My internet is very temperamental today.

[2018-01-10 08:44] Kukks commented on #163
@bjorntheart
I'm guessing even a simple table with a version column number and a scalar value would be enough.

If version mismatch, run script for the next version and repeat until db version matches app version.

[2018-01-10 08:55] bjorntheart commented on #163
That could certainly work, but how would you handle rollbacks to previous DB versions?
In my experience, rollbacks should be handled by a migration framework, if you're using one. Up for forwarding migrations and down to rollback to a former version.

[2018-01-10 09:02] #162 closed

[2018-01-10 09:05] oliverw commented on #163
@Kukks I agree, would be a great idea and easy to implement if we'd be using something like Entity Framework. Since I've opted for speed (Dapper) in favor of convenience (EF), implementing this is a bit more involved. PRs welcome.

[2018-01-10 14:06] Kukks commented on #163
@bjorntheart We could backup the db before any migration attempt to safeguard the user's data. We can also write the migration scripts in transactions. I'll try find some time for a poc for this soon.

[2018-01-10 14:10] bjorntheart commented on #163
@Kukks Sounds good 👍

For some inspiration:
- https://laravel.com/docs/5.5/migrations
- http://www.yiiframework.com/doc-2.0/guide-db-migrations.html
- https://docs.djangoproject.com/en/2.0/topics/migrations/

[2018-01-10 17:34] linuxdr0 opened #164 "Worker names"
How can you connect giving a worker name?  I've tried connecting with WalletAddress.workername and it does not seem to work.  Do you currently have to edit DB manually?

[2018-01-10 17:40] oliverw commented on #164
No you don't. It should work out of the box.

[2018-01-10 17:50] linuxdr0 commented on #164
Should it work as: walletaddress.workername as the username then?  If so, does it have to be the very first time?

[2018-01-10 17:53] linuxdr0 commented on #164
Sorry.  Seems to work now.  Just a good while for API to show change compared to last version I was running before.

[2018-01-10 17:53] #164 closed

[2018-01-10 19:06] linuxdr0 opened #165 "API doesn't seem correct"
I noticed that the API seems slower on some of the info changing like connected miners from previous version I was running.  After all miners were stopped for over 60 minutes, the API still showed 1 connected miner.  I then restarted the pool server and it still shows 1 connected miner.  The clientconnectiontimeout is set at 600.  The pool hash rate and miner rate hasn't changed as well.  It almos

[2018-01-10 20:07] oliverw commented on #165
This is now all managed by this code: https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/Mining/StatsRecorder.cs

If it's a bug, it must be there.

[2018-01-10 20:47] linuxdr0 commented on #165
Found the issue.

These lines:
pool.PoolStats.ConnectedMiners = byMiner.Length;
pool.PoolStats.PoolHashRate = poolHashrate;
pool.PoolStats.ValidSharesPerSecond = (int) (poolHashesCountAccumulated / windowActual);

have now been put inside a loop that depends on windowActual being calculated which won't change if shares are not coming in.  So in my case with no connected miners the lastShare time w

[2018-01-11 17:34] bjorntheart opened #166 "Workflow for adding a new Coin"
I'd very much like to contribute to this project.
The only place I think I can add value, to source code specifically, is by adding support for new coins.
Can someone help me understand the workflow for adding new coins?
I'd like to know what code needs to change and why?
What files should I add, if any?

Please fill in the blanks for anything else I am missing.

[2018-01-11 17:35] calvintam236 commented on #166
Duplicate of #85.

[2018-01-11 17:35] #166 closed

[2018-01-11 17:35] bjorntheart commented on #166
Sorry, didn't see that

[2018-01-12 00:31] linuxdr0 opened #167 "Seemed to stop responding"
After running almost 48 hours, the API for miner seems to have frozen.  It has shown this for hours:

[code]

I see this in the miningcore.log:
[code]

Any ideas?

[2018-01-12 01:15] linuxdr0 commented on #167
40 minutes after restarting miningcore, it still shows this:
"poolStats": {
        "connectedMiners": 2,
        "poolHashRate": 1049561344,
        "validSharesPerSecond": 0
      },

Not once has it or the wallet changed hash rate in API even though there are no miners connected.  Although after restarting pool, lite coin debug.log still shows CreateNewBlock() happening regularly.

[2018-01-12 07:46] Kukks opened #168 "Straks hashrate is not accurate"
One of my users reported that his hashrate was being marked as half what his miner was reporting. I've doubled the hashrate of the pool, pool 24 h history and miner stat on the ui for the time being.

[2018-01-12 08:36] denismatveev commented on #110
Hi! I have a problem similar to described below. I found this discussion https://www.bountysource.com/issues/50977868-i-btc1-bitcoin-job-manager-waiting-for-daemons-to-come-online
and I can connect with curl to daemons to their ports and get answers.
But Miningcore still writes in log such string
my miningcore config is(only regarding monero daemons):

[code]
My monerod config:

[code]
And start s

[2018-01-12 09:50] StarbuckBG opened #169 "Invalid message start in communication with Node"
2018-01-12 05:55:09 PROCESSMESSAGE: INVALID MESSAGESTART version peer=442992
2018-01-12 05:55:09 PROCESSMESSAGE: INVALID MESSAGESTART version peer=442993
2018-01-12 05:55:09 PROCESSMESSAGE: INVALID MESSAGESTART version peer=442994
2018-01-12 05:55:09 PROCESSMESSAGE: INVALID MESSAGESTART version peer=442995

This is what I've got from the logs. Also in BTG -
2018-01-12 05:55:08 ERROR: ProcessNewBlo

[2018-01-12 09:51] StarbuckBG commented on #169
This happens on BTG core, version 0.15.0.2. It causes a lot of ping.

[2018-01-12 10:29] StarbuckBG commented on #169
After investigation I found out that the traffic was caused by 2 IPs that were trying to reach the nodes. Is there a possibility that the pool somehow exposes information about the IPs of the coin daemons ? After blocking the IPs the traffic dropped 6 times .... I have no such problems on my other nodes and the 2 for the pool were made specially for the pool. Moreover upon changing the nodes I hav

[2018-01-12 10:30] StarbuckBG commented on #169
The drop is when I have banned the IPs
<img width="467" alt="screen shot 2018-01-12 at 12 30 05" src="https://user-images.githubusercontent.com/3859373/34870946-64288b68-f794-11e7-8b09-070c168e363c.png">

[2018-01-12 14:46] rterbush commented on #169
These messages are caused by some "feature" of the BTG node software. Not clear if this change has yet to be implemented.

https://github.com/BTCGPU/BTCGPU/issues/160

We should probably not be banning based on this warning.

[2018-01-12 15:15] denismatveev commented on #110
I have already solved the problem.
I want to post my configs and describe steps.
In the end my **monerod.conf** is
[code]
and **systemd** file for monerod:
[code]
**monero-wallet-rcp**
[code]
before starting monero-wallet-rpc we need  create wallet with wallet's file:
```#  monero-wallet-cli --daemon-login vasya:vastIcoyct0```
you need to specify a login and password to monerod daemon

after that

[2018-01-12 17:10] linuxdr0 opened #170 "Is there an easy way to test?"
I moved daemon to testnet but then trying to connect to pool, I get: Stratum authentication failed

I would like to test the payments and such before moving to production with a lot of miners.

[2018-01-12 17:23] oliverw commented on #169
@StarbuckBG Nope. The pool does not expose the daemons anywhere.

[2018-01-12 17:25] oliverw commented on #170
@linuxdr0 Please always mention the coin your issue is related to. I'm assuming Monero. Could you post your miner config/command line?

[2018-01-12 17:28] oliverw commented on #165
@linuxdr0 Could you come up with a PR by chance?

[2018-01-12 17:29] oliverw commented on #154
@calvintam236 Not sure. Comments appear inconclusive.

[2018-01-12 17:48] Kukks commented on #168
How big of a multiplier did you add? Currently at 2.0 herr

On Jan 12, 2018 18:39, "Oliver Weichhold" <notifications@github.com> wrote:

[2018-01-12 18:27] linuxdr0 commented on #170
I will setup a Monero one as well to help test.

[2018-01-12 23:29] StarbuckBG commented on #169
The problem with the rejected blocks is fixed by this - https://github.com/coinfoundry/miningcore/pull/157/commits/f5bd439acaacd49d9135143b95e6cc0ebdd43179

Tested in private BTG regtest network and working. Seems that the BTC segwit block is ok, but please double check.

[2018-01-13 09:34] denismatveev opened #173 "pool fee"
I specified in config.json fee equal 0.5, but API returned value plus 0.15. And I don't understand why.
A piece of config:
[code]
and API's answer:
[code]
[code]

[2018-01-13 09:46] oliverw commented on #173
It's the Miningcore Dev Donation. Read about it here: https://github.com/coinfoundry/miningcore

[2018-01-13 09:46] #173 closed

[2018-01-13 23:09] arubinofaux opened #174 "Npgsql: PostgresException (42703: column "type" of relation "blocks" does not exist)"
Was looking at the logs today, and notice that this error was popping up, has anyone encounter it before?

```[2018-01-13 22:57:33.0400] [W] [ShareRecorder] Retry 1 in 00:00:02 due to Npgsql: PostgresException (42703: column "type" of relation "blocks" does not exist)```

[code]

[2018-01-14 01:40] ddvs1 opened #175 "Intense Coin ITNS edition"
Any Possibility to add ITN ( Intense Coin ) ?

https://github.com/valiant1x/intensecoin

Thank You

[2018-01-14 05:09] bjorntheart commented on #174
Did you follow the steps unders https://github.com/coinfoundry/miningcore/blob/master/README.md#postgresql-database-setup?

[2018-01-14 09:19] arubinofaux commented on #174
@bjorntheart yes, also checked the database updates from the releases [https://github.com/coinfoundry/miningcore/releases](https://github.com/coinfoundry/miningcore/releases)

im going to dump the database and re-do the installation and see if that takes cares of it

[2018-01-14 15:58] oliverw commented on #174
@bjorntheart Nah, the following should do:

`alter table blocks add type text null;`

[2018-01-14 16:21] bjorntheart commented on #174
@oliverw Yup, that'll do.

Strange error since [createdb.sql#L30](https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/Persistence/Postgres/Scripts/createdb.sql#L30) includes the `type text null` definition.
[code]

[2018-01-14 17:23] oliverw commented on #174
@bjorntheart Question is if you ran this version of the script when you initially setup your db?

[2018-01-14 17:32] bjorntheart commented on #174
Ah, yes! I didn’t occur to me that he could’ve ran a previus version of the script

[2018-01-14 18:52] arubinofaux commented on #159
#176 here it is

[2018-01-14 20:26] StarbuckBG opened #177 "Gradual response time increasing in the daemon communication"
I see on the graph with the node communication response time that it is rising a lot:
<img width="489" alt="screen shot 2018-01-12 at 19 01 42" src="https://user-images.githubusercontent.com/3859373/34920331-ebbcce0e-f979-11e7-9f18-031dd93b3919.png">
<img width="467" alt="screen shot 2018-01-12 at 12 30 05" src="https://user-images.githubusercontent.com/3859373/34920332-edeebf70-f979-11e7-952b-185

[2018-01-14 20:27] StarbuckBG commented on #169
Closing for now.

[2018-01-14 20:27] #169 closed

[2018-01-14 22:32] arubinofaux commented on #174
Thanks for the help guys, it turns out i had create the database with an old sql file in my fork.
Everything is running perfect now, ill go ahead and close the issue.

[2018-01-14 22:32] #174 closed

[2018-01-14 23:06] Allar opened #178 "How to invoke MiningCore.Tests?"
Sorry for making such a trivial issue.

I'm a pretty experienced developer but I rarely touch C# / DotNetCore, and I'm feeling like an idiot because I can't figure out how to invoke your MiningCore.Tests project. I've added some tests for some stuff I'm adapting MiningCore to, and while everything appears to be working, I'd like to set up unit tests like a good person.

[2018-01-14 23:09] Allar commented on #178
Yup, I'm a straight up idiot. In all my years as a game dev I've never done testing with Test -> Run -> All Tests. Hopefully no one will see this.

[2018-01-14 23:09] #178 closed

[2018-01-15 02:14] Allar commented on #150
I'm in the same boat. I got my own shitcoin, shares are being accepted, but in the same timeframe that p2pool and nomp had X mining effort, miningcore with the same mining effort solved almost 5% of blocks. I have a relatively closed environment and am able to coordinate mining efforts, and it doesn't seem to be an issue like 'another mining pool is huge and therefore is taking all the blocks'. I

[2018-01-15 07:18] StarbuckBG commented on #150
Can you please check debug.log of the coin daemon and grow for acceptBlock.

I had problems with incorrect SegWit blocks, then with Orphaned blocks and went to zeroMQ external stratum option and it is working beautifully.

Sent from my iPhone 7 plus

[2018-01-15 07:31] Kukks commented on #150
@StarbuckBG How did you set up the external stratum config and with what software?

[2018-01-15 07:41] StarbuckBG commented on #150
1. You must get one of the node-stratum-pool repos for the coin that you mine - https://github.com/coinfoundry <https://github.com/coinfoundry>

2. In the node-stratum-pool you must make a config.json file. You can follow the instructions on the repo for the config file, but be aware that is must be in a JSON file, not on main.js file. Also add the “coin” : {} information inside the config JSON.

[2018-01-15 08:01] Kukks commented on #150
@StarbuckBG Ah, so the external stratum setting only works with nomps' stratum.  It wouldn't be able to hook up to say, yiimp?

[2018-01-15 08:10] oliverw commented on #150
@Kukks The external stratum stuff is for a couple of NOMP pool derivates ([this](https://github.com/coinfoundry/z-node-stratum-pool), [this](https://github.com/coinfoundry/node-stratum-pool) and this [this](https://github.com/coinfoundry/nodejs-pool) I was experimenting with when researching an issue similar to this one.

[2018-01-15 08:26] StarbuckBG commented on #150
@Oliver BTG pool runs fine on the external stratums with the provided steps to setup.

When you have take please check the last issue I have opened. I can give you access to the server if needed. I’m able to reproduce it each time.

Sent from my iPhone 7 plus

[2018-01-15 08:38] rewrewby commented on #177
@StarbuckBG Martin, how did you resolve orphaned blocks issue?

[2018-01-15 09:16] StarbuckBG commented on #177
Check this - https://github.com/coinfoundry/miningcore/issues/150#issuecomment-357604054

[2018-01-15 16:08] oliverw commented on #151
@shwuhk This is now implemented using ZMQ pub/sub which is a much cleaner solution that's equally fast.

[2018-01-15 16:08] #151 closed

[2018-01-15 16:10] #168 closed

[2018-01-15 16:12] oliverw commented on #167
@linuxdr0 There's currently a bug in the stats calculation. The calculation is based on submitted shares which means if shares are no longer received the stats won't reset.

[2018-01-15 16:13] oliverw commented on #159
Merged.

[2018-01-15 16:13] #141 closed

[2018-01-15 16:14] oliverw commented on #122
Closing for inactivity. Please reopen if necessary.

[2018-01-15 16:14] #122 closed

[2018-01-15 16:14] oliverw commented on #120
@LEVA1989 Is this still a problem?

[2018-01-15 16:15] oliverw commented on #111
@jeong760 Did you resolve the problem?

[2018-01-15 16:15] oliverw commented on #107
Closing this as too broad. Please file individual issues.

[2018-01-15 16:15] #107 closed

[2018-01-15 16:16] #106 closed

[2018-01-15 16:17] oliverw commented on #149
@pfeiflelukas Please re-open if parity adds support for this one day.

[2018-01-15 16:17] #149 closed

[2018-01-15 16:17] oliverw commented on #4
Postponed indefinitely.

[2018-01-15 16:17] #4 closed

[2018-01-15 16:18] #43 closed

[2018-01-15 16:21] oliverw commented on #175
@ddvs1 Unlikely at the moment. PR would be accepted though.

[2018-01-15 16:21] #175 closed

[2018-01-15 16:21] Kukks commented on #151
How does this work? Any configuration needed?

[2018-01-15 16:22] oliverw commented on #151
@Kukks Checkout the release notes for Release 0.15 that I'm just preparing.

[2018-01-15 16:23] ddvs1 commented on #175
Any help on this let us know.

Thank You

[2018-01-15 17:07] oliverw commented on #151
Here you go: https://github.com/coinfoundry/miningcore/releases/tag/0.15

[2018-01-15 18:57] oliverw commented on #177
The new feature of Release 0.15 should help with this issue.

[2018-01-15 19:28] StarbuckBG commented on #177
Will check. Thanks.

Sent from my iPhone 7 plus

[2018-01-16 01:03] gblass commented on #159
thank you.  I am wondering if there are any UI I can try.  I am very
unfamiliar with setting up my on UI with API

On Mon, Jan 15, 2018 at 11:13 AM, Oliver Weichhold <notifications@github.com

[2018-01-16 10:17] #134 closed

[2018-01-16 11:34] oliverw commented on #159
@calvintam236 Is working [on a GUI](https://github.com/calvintam236/miningcore-ui) and I believe there are others. Perhaps we should add an official sub-project for the GUI.

[2018-01-16 11:34] #159 closed

[2018-01-16 11:35] bjorntheart commented on #134
@oliverw Here you go. I couldn't get all the information

#### XMCC
Family: ???
Algo: X11
Github: https://github.com/monoeci
Website: https://monoeci.io

#### ARC
Family: ???
Algo: ???
Github: https://github.com/ArcticCore/arcticcoin
Website: https://arcticcoin.org/

#### ENT
Family: ???
Algo: X11
Github: https://github.com/eternity-group/eternity
Website: http://eternity-group.org/

#### CHC
Fami

[2018-01-16 11:36] oliverw commented on #137
@8bitidea Regarding pirl, we have to wait for parity to support that coin.

[2018-01-16 11:36] #137 closed

[2018-01-16 11:36] oliverw commented on #28
Not going to happen sorry.

[2018-01-16 11:36] #28 closed

[2018-01-16 11:50] oliverw commented on #134
@bjorntheart Thanks for the break-down. Unfortunatly I'm swamped in work. If you'd like one of those coins supported you are welcome to submit a PR. :)

[2018-01-16 11:51] bjorntheart commented on #134
@oliverw I'm not particularly interested in those coins. I was just trying to help @Konstantin35 out :)

[2018-01-16 13:23] StarbuckBG opened #181 "[Feature] Multiple ZMQ external stratums for currency"
I would like to propose a feature for multiple ZMQ external stratums support.
Currently I'm doing this by making a machine that is receiving all the messages from the external stratums and it is relaying them to the mining core. I will look the code and may propose a PR with the improvement.

[2018-01-16 15:36] shtse8 commented on #28
Yes, I don't think we need it too.

[2018-01-17 13:58] shwuhk commented on #151
This is awesome. It is much better than connecting it via peer method.
I would like to propose that it would be much nicer if it support multiple zmq publisher socket just like what we can have multiple daemons.

[2018-01-17 14:04] oliverw commented on #151
@shwuhk I agree could you file a seperate issue for that?

[2018-01-17 15:37] shwuhk opened #182 "Mine DGB Groestl but stratum reject share with LowDifficultyShare"
I start MiningCore and put
[code]
in the config file.
Mine with ccminer and algo set to ```"algo" : "myr-gr",```. Mine successfully in other pools but not in MiningCore. May I know is there something wrong? Thanks.

[2018-01-18 09:06] shwuhk commented on #151
Sure

[2018-01-18 09:08] shwuhk opened #183 "Support multiple zmq block notify socket"
It was nice that in 0.15 version miningcore support zmq for block notify. In order to increase the stability and reliability, it should support multiple sockets for block notify just like what it have for multiple daemons now.

[2018-01-18 11:52] #160 closed

[2018-01-18 11:52] OmarWazzan commented on #160
Was a config issue, thanks!

[2018-01-21 06:50] YoptaScriptDenis opened #184 "API don't starts"
When i start MiningCore, it's saying that API server created

[2018-01-20 18:15:54.6321] [I] [ShareRecorder] Online
[2018-01-20 18:15:54.6397] [I] [ApiServer] Launching ...
[2018-01-20 18:15:54.8016] [I] [ApiServer] Online @ 127.0.0.1:4000

My netstat

netstat -an | grep 4000
tcp        0      0 127.0.0.1:4000          0.0.0.0:*               LISTEN

But, when i installed and configured miningcore

[2018-01-21 07:07] YoptaScriptDenis commented on #184
Just edited API listen ip from 127.0.0.1 to public ip

Close issue

[2018-01-21 07:07] #184 closed

[2018-01-21 08:36] YoptaScriptDenis opened #185 "Payments To Pool's wallet"
Thank you for your product.

I created a pool, with the help of your samples, the power of my miners is 20kh / s, they have been working for 2 days, but so far no single solved block, can you explain why? And also, in miningcore-ui does not show the solved blocks - hence they do not exist.

On the wallet of the pool - empty
Shares are accpeting.
[I] [xmr1] [Pool] [0HLB0M04KNBT0] Share accepted: D=

[2018-01-21 11:43] YoptaScriptDenis commented on #136
Can we see your configuration, you have configured many coins, I need some help

[2018-01-21 13:26] Konstantin35 opened #186 "System.OutOfMemoryException: ethash_full_new IO or memory error"
This problem

- Windows Server 2016
- RAM: 12G
- parity: Parity/v1.8.6-beta-2d051e4-20180109/x86_64-windows-msvc/rustc1.22.1

[code]

[2018-01-21 13:30] oliverw commented on #186
Make sure your pool config contains the following element and the user the pool is running under has access to that directory:

`"dagDir": "/data2/dag/eth1", `

[2018-01-21 13:39] Konstantin35 commented on #186
Thanks it helped

[2018-01-21 13:39] #186 closed

[2018-01-23 05:27] Gadflyii commented on #150
So what this fixed, or is it still an open issue?

[2018-01-23 09:00] Kukks commented on #150
I'm leaving this open as I can't tell right now since my hashrate is too low for the current Straks network hashrate to make assumptions. I still think there is some sort of performance issue with finding blocks when compared to the yiimp solution.

[2018-01-23 09:49] Kukks commented on #185
Switch to testnet and see if you get any blocks there.

[2018-01-23 11:21] oliverw commented on #185
@YoptaScriptDenis I'm confused how is the UI supposed to show blocks if you didn't mine any?

[2018-01-23 11:21] oliverw commented on #182
groestl != groestl-myriad

[2018-01-23 11:28] oliverw commented on #150
@Kukks I'm calling for some concerted effort to figure this out.

- Can we all agree (it's okay if we don't) that the problem is not related to share validation/submission as a bug in that area would result in high reject rates which would be easy to spot, right?
- I see two areas however, where problems could lurk:
  - Vardiff: I've seen reports of people mining against a Miningcore getting lower

[2018-01-23 13:21] oliverw commented on #182
@shwuhk I see what you mean. Looks like the groestl implementation used by DGB-Groestl is slightly different than what Groestlcoin uses.

[2018-01-23 17:05] Gadflyii commented on #150
@oliverw I will start to go over the job management and test it

[2018-01-23 22:03] Allar commented on #150
I'm not smart enough to be involved, but I've had this reoccuring issue reported (haven't been able to reproduce myself) that may be related to job management?

Using nomp/p2pool, the following behavior did NOT occur, but appears to be happening with MiningCore.

Miners who mine actively for long periods of time will stop getting payments, and also stop gaining pending shares, even though they are

[2018-01-23 22:16] oliverw commented on #150
Well, I had to deal with a lot of those complaints on coinfoundry.org (formerly poolmining.org) and in retrospective every single case was either that the person stopped mining at some point and had a misconfigured miner.  Take our Dash for [for example](https://coinfoundry.org/pool/dash). The pool has paid out close to half a million dollars in coins so far and ASIC miners are very, very concerne

[2018-01-23 23:41] YoptaScriptDenis opened #187 "Question BCH Help"
Hi, i have some questions about BCH.

Should I use the same daemon settings for the BCH as it is for the BTC? And also, if not, what use as a demon for BCH?
Thanks/

[2018-01-24 08:06] oliverw commented on #187
Use this one: https://www.bitcoinabc.org/

[2018-01-24 08:06] #187 closed

[2018-01-25 20:07] shwuhk opened #188 "Support for x17 algorithm"
I am trying to integrate Verge coin to MiningCore. However, I can't merge x17 algo to the Native project as I am not familiar with C. Even I put the x17.c and related files there, it just can't built(it should be due to some dependency problem.) Is there anyone can help to add x17 algo to the Native project? Thanks.

The x17 algo in C is implemented in this project https://github.com/tpruvot/yiimp

[2018-01-25 20:31] oliverw commented on #183
This is now in the dev branch.

[2018-01-25 20:35] oliverw commented on #188
I can do that for you tommorow. Has been on my list anyway.

[2018-01-26 06:37] Crazytoo01 commented on #27
Hi guys iam trying to get this to work but it seems that the webserver cant get access to the programs api
    the program is running and hashing but how do i connect it
   both webserver and software is running on the same machine and default settings so i should be able to connect the the api on 127.0.0.1 / localhost port 4000 but when i setup the java file wtih this info and pool id ltc1 it get

[2018-01-26 06:39] Crazytoo01 opened #189 "No response from API"
Hi guys iam trying to get this to work but it seems that the webserver cant get access to the programs api
the program is running and hashing but how do i connect it
both webserver and software is running on the same machine and default settings so i should be able to connect the the api on 127.0.0.1 / localhost port 4000 but when i setup the java file wtih this info and pool id ltc1 it get no res

[2018-01-26 07:46] oliverw commented on #188
This is now in dev: 1c6112acf7e5b0211674bda41321b1e471c61568

[2018-01-26 07:46] #188 closed

[2018-01-26 08:02] calvintam236 commented on #189
Are you calling the API in the same network in the Javafile?

[2018-01-26 09:51] StarbuckBG commented on #27
set the IP to 0.0.0.0 or to your public IP. With 127.0.0.1 you can access only locally.

[2018-01-26 11:43] oliverw commented on #188
@shwuhk By the way. Please stop working on this. Verge has been recently implemented on the dev branch.

[2018-01-26 12:05] Crazytoo01 commented on #189
yes i have nginx install and downloaded the repo til /var/www/html/min........

     And the site shows up fine but when the site calls the api its says that it got no response
    the minincore pool software is located i that home dir and the pool is running fine got a few miners working

[2018-01-26 12:25] Crazytoo01 commented on #189
btw
Thanks for the amazing quick response

[2018-01-26 15:32] Crazytoo01 commented on #27
Yes but the api is only running localy
   From the miningcore to the webserver on the same system

Den 26. januar 2018 10.51.38 CET, Martin Kuvandzhiev <notifications@github.com> skrev:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-01-26 19:17] #103 closed

[2018-01-26 19:17] #183 closed

[2018-01-26 19:25] oliverw commented on #182
@shwuhk Can you describe the problem(s) you are facing?

[2018-01-26 19:25] oliverw commented on #177
Is this issue still present?

[2018-01-26 22:36] Crazytoo01 commented on #189
do you have any other setup instructions

[2018-01-27 00:56] OmarWazzan opened #191 "Implementing New Currency - BitcoinZ"
Hello, I was wondering if it was possible to add BitcoinZ support to the miner.

https://github.com/bitcoinz-pod/bitcoinz

Thanks!

[2018-01-27 16:37] shwuhk commented on #182
I use ccminer to mine DGB-Groestl. However, all the shares submitted were rejected by MC.

[2018-01-27 16:41] shwuhk commented on #188
That's very good! Is Verge tested and working in dev branch?
I finish implemented it but it seems cannot submit block successfully, don't know what goes wrong. May be the header composition is different than BTC? I don't see Verge has regtest and testnet is very slow. Testing is painful and I already lost several thousand there.

[2018-01-27 16:49] shwuhk commented on #188
@oliverw
I have just checked the code in dev branch.
Is it working as VERGE doesn't even support getblockchaininfo/getnetworkinfo command.
It is the exactly same way of what I did except that I have change the command that VERGE doesn't support to getinfo or other equivalent.

[2018-01-27 16:58] shwuhk commented on #188
From what I know, VERGE should be POW instead of POS https://github.com/vergecurrency/VERGE/issues/562 . However, MC detect it as POS due to "            isPoS = difficultyResponse.Values().Any(x => x.Path == "proof-of-stake");". Not sure if I am correct.

[2018-01-27 17:02] DeaVulTan commented on #189
Nope, you must set your public ip instead 127.0.0.1

[2018-01-27 21:26] Crazytoo01 commented on #189
okay so what u are saying is that i have to set the ip of the api services to 0.0.0.0 when the two program is running internally on the same linux machine ????

[2018-01-27 21:27] Crazytoo01 commented on #189
But what about the ui web frontend so that have to connect to local ip address??

[2018-01-27 22:57] DeaVulTan opened #192 "Unsupported RPC request: {"jsonrpc":"2.0","method":"mining.multi_version","params":[1],"id":1403}"
Now I'm testing LTC. I use the LTC setup from your examples, but I'll also attach it, with miningcore logs.
I rent ASIC, but the connection is constantly interrupted, and ASIC is trying to reconnect. On the site where I rent ASIC, the following is said:

"**Low Worker Difficulty
One or more workers on this rig has been assigned a share / worker difficulty by your pool that is too low. Hashrate per

[2018-01-28 12:15] xenhim opened #193 "Hi. Issue Pool ETN"
I see "block expired "

[code]

This is normal ?

[2018-01-28 12:51] oliverw commented on #193
Yes its normal. It means a miner submitted a share for the previous block.

[2018-01-28 12:51] #193 closed

[2018-01-28 16:40] StarbuckBG commented on #177
When the ZMQ is used there are no problems. However I still see gradually rising response times :/ It must be investigated to be understood where the problem comes from.

[2018-01-28 16:42] StarbuckBG commented on #191
What are the differences with Zcash ?

[2018-01-28 16:43] StarbuckBG commented on #191
From what I see this is rebranded copy of Zcash. However they didn't leave the original commits, so changes are really hard to be observed.

[2018-01-28 22:14] saltyminer opened #194 "Equihash difficulty calculation"
I am working on adding HUSH coin support so I can contribute to the project.  I have the pool running on MAINNET and TESTNET successfully using the ZCLCoinbaseTxConfig (no founders reward).  The difficulty calculated in the init of the ZCash job using the BlockTemplate Target vs the difficulty of submitted shares seems to be incorrect.  Below is a scenario from debugging.

In the ZCashJob.Init the

[2018-01-30 09:04] shelya commented on #120
Hi
i have the same problem. parity starts with this config:
`parity --chain mainnet --base-path /root/parity/ --mode active --no-ui --no-dapps --no-ipc --jsonrpc-interface 0.0.0.0 --jsonrpc-threads 4 --jsonrpc-port 8545 --no-discovery --jsonrpc-apis eth,net,web3,personal,parity,parity_pubsub,rpc --author 0xa42503d6b41f33bdc242e5445ef7071bb88fb94b --cache-size 512 --ws-port 8546 --ws-interface all

[2018-01-31 16:52] saltyminer commented on #192
It looks like the error that you are seeing in the pool trace is related to ASICBOOST.  I found this after a quick google search https://github.com/zone117x/node-open-mining-portal/issues/510.  It looks like the coin daemon doesn't like the RPC request for "mining.multi_version".

[code]

Related to the difficulty, have you tried using the NiceHash pool verifier to see if it accepts your difficult

[2018-01-31 17:03] DeaVulTan commented on #192
I know that this is connected with diff. The same day, I checked the settings with the help of nicehash. With nicehash, I have everything working, but on another site for rent ASIC, my pool does not work. By the way, nicehash also does not like the diff of coinfoundry. But here, that same ASIC lease site, works when mining at coinfoundry

[2018-01-31 17:57] saltyminer commented on #192
I found this post about the ASICBOOST setting and multi_version.  Check out this article
 https://www.reddit.com/r/Bitcoin/comments/63yo27/some_circumstantial_evidence_supporting_the_claim/dfy5o65/

[2018-01-31 19:44] oliverw commented on #192
@saltyminer

<  It looks like the coin daemon doesn't like the RPC request for "mining.multi_version".

This has nothing to do with the coin daemon. Miners do not directly talk to the daemon but to the pool and stratum requests are never directly relayed to coin daeamons. In this case BitcoinPoolBase simply is not aware of that particular request. Its simply not implemented.

[2018-01-31 20:03] saltyminer commented on #192
Thanks, Oliver.  Ok, I mistakenly thought the trace line below was the pool trying to talk to the coin daemon.  Understood that the miners don't communicate directly to the coin daemon, but rather to the pool/stratum.

In any event, it sounds like DeaVulTan is out of luck unless they implement that request in [BitcoinPoolBase](https://github.com/coinfoundry/miningcore/blob/master/src/MiningCore/Bl